.card {
  border-radius: 10px;
}
.line-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pupil-name {
  width: 350px;
}
.add-btn {
  width: 250px;
}
h3 {
  position: fixed;
  margin: 5px;
}
.button {
  margin-top: 0;
  margin-right: 0;
}
.column1 {
  width: 15%;
  vertical-align: middle;
  font-weight: 600;
}
.column2 {
  width: 25%;
}
