
<form [formGroup]="list4v2Form">


  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="lesson">ЛИСТ 4 вариант 2</div>

        <app-caption></app-caption>

        <div class="card px-5 py-4 mb-5">

          <div class="line">
            <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Дата</span> <span>
           <ng2-flatpickr [config]="vDatePickOptions" formControlName="formControlDate"></ng2-flatpickr>
        </span>
          </div>

          <div class="line">
            <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Учитель</span>
            <input type="text" class="form-control" placeholder="Учитель" formControlName="fio">
          </div>


          <div class="line">
            <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Класс</span>

            <div class="dropdown mr-1">
              <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenuNumeral" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{documentClassNameNumber.title}}
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuNumeral">
                <button class="dropdown-item" type="button" *ngFor="let curValue of listClassNameNumber" (click)="onClassNameNumber(curValue)">{{curValue.title}}</button>
              </div>

            </div>


            <div class="dropdown">
              <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenuLetter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{documentClassNameLetter.title}}
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLetter">
                <button class="dropdown-item" type="button" *ngFor="let curValue of listClassNameLetter" (click)="onClassNameLetter(curValue)">{{curValue.title}}</button>
              </div>

            </div>

          </div>

          <div class="line">
            <span class="my-2 w-25 mr-5 text-muted font-weight-bold">ФИО обучающегося (на дому)</span>
            <input type="text" class="form-control" placeholder="ФИО" formControlName="fioteacherhome">
          </div>
          <div class="line">
            <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Тема урока</span>
            <textarea formControlName="lessonTopic" class = "form-control" rows = "3" placeholder="Тема урока"></textarea>

          </div>
          <div class="line">
            <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Цель урока</span>
            <textarea formControlName="lessonObjectives" class = "form-control" rows = "3" placeholder="Цель урока"></textarea>
          </div>

        </div>

        <div class="card pl-3 pr-2 py-4 mb-5">

          <h5 class="mb-3">Учебный предмет (СПИСОК № 9)</h5>

          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Выбрать урок
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
              <button class="dropdown-item" type="button" *ngFor="let curValue of listLessons2" (click)="onLessons(curValue)">{{curValue.title}}</button>
            </div>
          </div>
          <div class="text-muted font-weight-bold result mx-3">{{documentLessons2.title}}</div>    <!-- Результат выбора из справочника  -->

<!--   Во втором варианте список предметов вот этот - СПИСОК № 9 «УЧЕБНЫЕ ПРЕДМЕТЫ»:

Речь и альтернативная коммуникация
Математические представления
Окружающий природный мир
Человек
Домоводство
Окружающий социальный мир
Музыка и движение
Изобразительная деятельность
Адаптивная физкультура
Профильный труд
Иное

-->

        </div>


        <div class="card pl-3 pr-2 py-4 mb-5">

          <h5 class="mb-3">Тип урока СПИСОК № 2</h5>

          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Тип урока
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" *ngFor="let curValue of listTypeLesson" (click)="onTypeLesson(curValue)">{{curValue.title}}</button>
            </div>
          </div>

          <div class="text-muted font-weight-bold result mx-3">{{documentTypeLesson.title}}</div>    <!-- Результат выбора из справочника  -->

        </div>

        <div class="card pl-3 pr-2 py-4 mb-5">

          <h5 class="mb-3">Форма проведения урока (вид урока) СПИСОК № 3</h5>

          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Вид урока
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
              <button class="dropdown-item" type="button" *ngFor="let curValue of listType2Lesson" (click)="onType2Lesson(curValue)">{{curValue.title}}</button>
            </div>
          </div>

          <div class="text-muted font-weight-bold result mx-3">{{documentType2Lesson.title}}</div>    <!-- Результат выбора из справочника  -->

        </div>

        <div class="card pl-3 pr-2 py-4 mb-5">

          <h5 class="mb-3">Предполагаемые результаты</h5>

          <div class="d-flex flex-column">
            <button type="button" class="btn btn-outline-primary mr-3 add-btn" (click)="addStudentClick(1)">Добавить ученика</button>
            <app-elem2lines [numberComponent]="1"  titleMethodComponent = "новый компонент 1" (methodResultat)="onResElem2lines($event, 1)" ></app-elem2lines>
          </div>
<!--
            <div class="d-flex flex-column">
              <button type="button" class="btn btn-outline-primary mr-3 add-btn">Добавить ученика</button>
              <div class="d-flex my-3">
                <input type="text" class="form-control mr-3 pupil-name" placeholder="ФИ ученика" formControlName="pupilName">
                <textarea formControlName="results" class = "form-control" rows = "2" placeholder="Предметные / Личностные результаты"></textarea>
                <button class="btn btn-outline-danger ml-2" title="Удалить ученика" style="max-height: 50px">
                  <img src="/assets/img/delete.svg" width="24" height="24">
                </button>
              </div>
            </div>
-->


        </div>

        <div class="card pl-3 pr-2 py-4 mb-5">

          <h5 class="mb-3">СПИСОК № 6 ОБОРУДОВАНИЕ И МАТЕРИАЛЫ</h5>

          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Оборудование
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
              <button class="dropdown-item" type="button" *ngFor="let curValue of listEquipment" (click)="onEquipment(curValue)">{{curValue.title}}</button>
            </div>
          </div>

          <!-- начало цикла Предполагаемые результаты СПИСОК № 6 -->
          <div *ngFor="let DOL of documentEquipmentList; let i = index">
            <div *ngIf="DOL.delete === 0">
              <div class="line-result mb-3">
                <div class="text-muted font-weight-bold result pr-3 w-50">{{DOL.title}}</div>    <!-- Результат выбора из справочника  -->
                <textarea formControlName="equipment{{i}}" class = "form-control" rows = "1" placeholder="Оборудование и материалы"></textarea>

                <button class="btn btn-outline-danger ml-2" (click)="onClickDeleteEquipment(DOL)" title="Удалить" style="max-height: 50px">
                  <img src="/assets/img/delete.svg" width="24" height="24">
                </button>

              </div>
            </div>
          </div>

        </div>


        <!-- начат блок 7 -->

        <div class="card pl-3 pr-2 py-4 mb-4">

          <h5 class="mb-3">СПИСОК № 7 «Методы»</h5>
          <app-guide7 [numberComponent]="1"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 1)" ></app-guide7>

        </div>
      </div>

    </div>
    <button class="btn btn-outline-primary mb-4" (click)="onSaveLis4v2()">Сохранить урок</button>

  </div>

</form>
