
<form [formGroup]="list4Form">


<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="lesson">ЛИСТ 4</div>

      <app-caption></app-caption>

     <div class="card px-5 py-4 mb-5">

      <div class="line">
        <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Дата</span> <span>
           <ng2-flatpickr [config]="vDatePickOptions" formControlName="formControlDate"></ng2-flatpickr>
        </span>
      </div>

      <div class="line">
        <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Учитель</span>
        <input type="text" class="form-control" placeholder="Учитель">
      </div>


      <div class="line">
        <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Класс</span>

        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenuNumeral" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            --
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuNumeral">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listClassNameNumber" (click)="onClassNameNumber(curValue)">{{curValue.title}}</button>
          </div>

        </div>


        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenuLetter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            --
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLetter">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listClassNameLetter" (click)="onClassNameLetter(curValue)">{{curValue.title}}</button>
          </div>

        </div>
        <div class="text-muted font-weight-bold result ml-3">{{documentClassNameNumber.title}}</div>   <!-- Сюда поместить результат выбора из справочника  -->
        <div class="text-muted font-weight-bold result ml-1">{{documentClassNameLetter.title}}</div>   <!-- Результат выбора из справочника  -->


      </div>

       <div class="line">
         <span class="my-2 w-25 mr-5 text-muted font-weight-bold">ФИО обучающего (на дому)</span>
         <input type="text" class="form-control" placeholder="ФИО">
       </div>
      <div class="line">
        <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Тема урока</span>
        <textarea formControlName="lessonTopic" class = "form-control" rows = "3" placeholder="Тема урока"></textarea>

      </div>
      <div class="line">
        <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Цель урока</span>
        <textarea formControlName="lessonObjectives" class = "form-control" rows = "3" placeholder="Цель урока"></textarea>
      </div>

     </div>

      <div class="card px-5 py-4 mb-5">

      <h5 class="mb-3">Учебный предмет (СПИСОК № 1)</h5>

      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Выбрать урок
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
          <button class="dropdown-item" type="button" *ngFor="let curValue of listLessons" (click)="onLessons(curValue)">{{curValue.title}}</button>
        </div>
      </div>
      <div class="text-muted font-weight-bold result mx-3">{{documentLessons.title}}</div>    <!-- Результат выбора из справочника  -->


      <div class="d-flex justify-content-start">

        <!-- Кнопка добавления -->
        <button class="btn btn-outline-primary my-2 mr-4" title="Добавить урок">
          Добавить урок
        </button>

        <!-- Кнопка редактирования
        <button class="btn btn-outline-warning my-2 mr-4" title="Изменить урок">
          Изменить урок
        </button>  -->

        <!-- Кнопка модального окна удаления -->
        <button type="button" class="btn btn-outline-danger my-2 mr-4"  title="Удалить урок">
          Удалить урок
        </button>

      </div>


    </div>


      <div class="card px-5 py-4 mb-5">

        <h5 class="mb-3">Тип урока СПИСОК № 2</h5>

        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Тип урока
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listTypeLesson" (click)="onTypeLesson(curValue)">{{curValue.title}}</button>
          </div>
        </div>

        <div class="text-muted font-weight-bold result mx-3">{{documentTypeLesson.title}}</div>    <!-- Результат выбора из справочника  -->

      </div>

      <div class="card px-5 py-4 mb-5">

        <h5 class="mb-3">Форма проведения урока (вид урока) СПИСОК № 3</h5>

        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Вид урока
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listType2Lesson" (click)="onType2Lesson(curValue)">{{curValue.title}}</button>
          </div>
        </div>

        <div class="text-muted font-weight-bold result mx-3">{{documentType2Lesson.title}}</div>    <!-- Результат выбора из справочника  -->

      </div>

      <div class="card px-5 py-4 mb-5">

        <h5 class="mb-3">Предполагаемые результаты СПИСОК № 4
        </h5>

        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Предметные
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu4">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listObjectiveLesson" (click)="onObjectiveLesson(curValue)">{{curValue.title}}</button>
          </div>
        </div>

        <div class="text-muted font-weight-bold result mx-3">{{documentObjectiveLesson.title}}</div>    <!-- Результат выбора из справочника  -->

      </div>

      <div class="card px-5 py-4 mb-5">

        <h5 class="mb-3">Предполагаемые результаты СПИСОК № 5
        </h5>

        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Личностные
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listPersonalLesson" (click)="onPersonalLesson(curValue)">{{curValue.title}}</button>
          </div>
        </div>

        <div class="text-muted font-weight-bold result mx-3">{{documentPersonalLesson.title}}</div>    <!-- Результат выбора из справочника  -->

      </div>

      <div class="card px-5 py-4 mb-5">

        <h5 class="mb-3">СПИСОК № 6 ОБОРУДОВАНИЕ И МАТЕРИАЛЫ

          <!--
          технические средства обучения (ТСО);
          учебно-наглядные пособия
          раздаточный материал
          дидактический материал
          учебно-лабораторное оборудование
          учебно-производственное оборудование
          спортивный инвентарь и оборудование
          вспомогательные средства для позиционирования

-->

        </h5>

        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Личностные
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listEquipment" (click)="onEquipment(curValue)">{{curValue.title}}</button>
          </div>
        </div>

        <div class="text-muted font-weight-bold result mx-3">{{documentEquipment.title}}</div>    <!-- Результат выбора из справочника  -->

      </div>


      <div class="card px-5 py-4 mb-5">

        <h5 class="mb-3">СПИСОК № 7 «Методы»

          <!--
1. Рассказ
2. Объяснение
3. Беседа
4. Работа с учебником,  книгой
5. Инструктаж
1. Демонстрация
2. Иллюстрация
3. Наблюдение
1. Упражнения
2. Дидактическая игра
3. Сюжетно-ролевая игра
4.Игра-драматизация
5. Лабораторная работа
6. Практическая работа
7. Элементарные опыты и экспериментирование


-->

        </h5>

        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Личностные
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listPersonalLesson" (click)="onPersonalLesson(curValue)">{{curValue.title}}</button>
          </div>
        </div>

        <div class="text-muted font-weight-bold result mx-3">{{documentPersonalLesson.title}}</div>    <!-- Результат выбора из справочника  -->

      </div>

    </div>
  </div>
</div>

</form>

<button (click)="onTestRes()">!!!!!!!!!!!!!!</button>











