
<form [formGroup]="list4Form">


<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="lesson">ЛИСТ 4</div>

      <app-caption></app-caption>

     <div class="card px-5 py-4 mb-5">

      <div class="line">
        <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Дата</span> <span>
           <ng2-flatpickr [config]="vDatePickOptions" formControlName="formControlDate"></ng2-flatpickr>
        </span>
      </div>

      <div class="line">
        <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Учитель</span>
        <input type="text" class="form-control" placeholder="Учитель" formControlName="fio">
      </div>


      <div class="line">
        <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Класс</span>

        <div class="dropdown mr-1">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenuNumeral" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{documentClassNameNumber.title}}
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuNumeral">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listClassNameNumber" (click)="onClassNameNumber(curValue)">{{curValue.title}}</button>
          </div>

        </div>


        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenuLetter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{documentClassNameLetter.title}}
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLetter">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listClassNameLetter" (click)="onClassNameLetter(curValue)">{{curValue.title}}</button>
          </div>

        </div>

<!--
 Результат выбора из справочника
        <div class="text-muted font-weight-bold result ml-3">{{documentClassNameNumber.title}}</div>
        <div class="text-muted font-weight-bold result ml-1">{{documentClassNameLetter.title}}</div>
-->


      </div>

       <div class="line">
         <span class="my-2 w-25 mr-5 text-muted font-weight-bold">ФИО обучающегося (на дому)</span>
         <input type="text" class="form-control" placeholder="ФИО" formControlName="fioteacherhome">
       </div>
      <div class="line">
        <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Тема урока</span>
        <textarea formControlName="lessonTopic" class = "form-control" rows = "3" placeholder="Тема урока"></textarea>

      </div>
      <div class="line">
        <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Цель урока</span>
        <textarea formControlName="lessonObjectives" class = "form-control" rows = "3" placeholder="Цель урока"></textarea>
      </div>

     </div>

      <div class="card pl-3 pr-2 py-4 mb-5">

      <h5 class="mb-3">Учебный предмет (СПИСОК № 1)</h5>

      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Выбрать урок
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
          <button class="dropdown-item" type="button" *ngFor="let curValue of listLessons" (click)="onLessons(curValue)">{{curValue.title}}</button>
        </div>
      </div>
      <div class="text-muted font-weight-bold result mx-3">{{documentLessons.title}}</div>    <!-- Результат выбора из справочника  -->


<!--      <div class="d-flex justify-content-start">

        <!-- Кнопка добавления  ->
        <button class="btn btn-outline-primary my-2 mr-4" title="Добавить урок">
          Добавить урок
        </button>

        <!-- Кнопка редактирования
        <button class="btn btn-outline-warning my-2 mr-4" title="Изменить урок">
          Изменить урок
        </button>  -->

        <!-- Кнопка модального окна удаления  ->
        <button type="button" class="btn btn-outline-danger my-2 mr-4"  title="Удалить урок">
          Удалить урок
        </button>

      </div>  -->


    </div>


      <div class="card pl-3 pr-2 py-4 mb-5">

        <h5 class="mb-3">Тип урока СПИСОК № 2</h5>

        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Тип урока
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listTypeLesson" (click)="onTypeLesson(curValue)">{{curValue.title}}</button>
          </div>
        </div>

        <div class="text-muted font-weight-bold result mx-3">{{documentTypeLesson.title}}</div>    <!-- Результат выбора из справочника  -->

      </div>

      <div class="card pl-3 pr-2 py-4 mb-5">

        <h5 class="mb-3">Форма проведения урока (вид урока) СПИСОК № 3</h5>

        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Вид урока
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listType2Lesson" (click)="onType2Lesson(curValue)">{{curValue.title}}</button>
          </div>
        </div>

        <div class="text-muted font-weight-bold result mx-3">{{documentType2Lesson.title}}</div>    <!-- Результат выбора из справочника  -->

      </div>

      <div class="card pl-3 pr-2 py-4 mb-5">




        <h5 class="mb-3">Предполагаемые результаты СПИСОК № 4
        </h5>
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Предметные
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu4">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listObjectiveLesson" (click)="onObjectiveLesson(curValue)">{{curValue.title}}</button>
          </div>
        </div>
        <!-- начало цикла Предполагаемые результаты СПИСОК № 4 -->
        <div *ngFor="let DOL of documentObjectiveLessonList; let i = index">
          <div *ngIf="DOL.delete === 0">
                <div class="line-result mb-3">
                    <div class="text-muted font-weight-bold result pr-3 w-50">{{DOL.title}}</div>    <!-- Результат выбора из справочника  -->
                    <textarea formControlName="subjectResults{{i}}" class = "form-control" rows = "1" placeholder="Предметные результаты"></textarea>
                  <button class="btn btn-outline-danger ml-2" (click)="onClickDeleteSubjectResults(DOL)" title="Удалить" style="max-height: 50px">
                      <img src="/assets/img/delete.svg" width="24" height="24">
                  </button>
              <!--    <img src="/assets/img/delete.svg" (click)="onClickDeleteSubjectResults(DOL)"> -->

                </div>
          </div>
        </div>
        <!-- конец цикла -->



      </div>

      <div class="card pl-3 pr-2 py-4 mb-5">

        <h5 class="mb-3">Предполагаемые результаты СПИСОК № 5
        </h5>

        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Личностные
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listPersonalLesson" (click)="onPersonalLesson(curValue)">{{curValue.title}}</button>
          </div>
        </div>


        <!-- начало цикла Предполагаемые результаты СПИСОК № 5 -->
        <div *ngFor="let DOL of documentPersonalLessonList; let i = index">
          <div *ngIf="DOL.delete === 0">
           <div class="line-result mb-3">
                <div class="text-muted font-weight-bold result pr-3 w-50">{{DOL.title}}</div>    <!-- Результат выбора из справочника  -->
                <textarea formControlName="personalResults{{i}}" class = "form-control" rows = "1" placeholder="Личностные результаты"></textarea>

             <button class="btn btn-outline-danger ml-2" (click)="onClickDeletePersonalResults(DOL)" title="Удалить" style="max-height: 50px">
               <img src="/assets/img/delete.svg" width="24" height="24">
             </button>

            <!--    <img class="ml-3 deleteBtn" src="/assets/img/delete.svg" (click)="onClickDeletePersonalResults(DOL)"> -->
           </div>
          </div>
        </div>



      </div>

      <div class="card pl-3 pr-2 py-4 mb-5">

        <h5 class="mb-3">СПИСОК № 6 ОБОРУДОВАНИЕ И МАТЕРИАЛЫ</h5>

        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Оборудование
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
            <button class="dropdown-item" type="button" *ngFor="let curValue of listEquipment" (click)="onEquipment(curValue)">{{curValue.title}}</button>
          </div>
        </div>

        <!-- начало цикла Предполагаемые результаты СПИСОК № 5 -->
        <div *ngFor="let DOL of documentEquipmentList; let i = index">
          <div *ngIf="DOL.delete === 0">
            <div class="line-result mb-3">
              <div class="text-muted font-weight-bold result pr-3 w-50">{{DOL.title}}</div>    <!-- Результат выбора из справочника  -->
              <textarea formControlName="equipment{{i}}" class = "form-control" rows = "1" placeholder="Оборудование и материалы"></textarea>

              <button class="btn btn-outline-danger ml-2" (click)="onClickDeleteEquipment(DOL)" title="Удалить" style="max-height: 50px">
                <img src="/assets/img/delete.svg" width="24" height="24">
              </button>

            </div>
          </div>
        </div>

      </div>


      <!-- начат блок 7  Здесь не нужен переехал на List5

      <div class="card pl-3 pr-2 py-4 mb-4">

        <h5 class="mb-3">СПИСОК № 7 «Методы»</h5>

        <div *ngFor="let curGroupValue of methodAggegateList" (click)="onCurGroupMethod(curGroupValue)">
          <b>{{curGroupValue.title}}</b>

           <div *ngFor="let curMethodValue of curGroupValue.new_document" (click)="onMethod(curMethodValue)">
             {{curMethodValue.title}}
           </div>

        </div>

        <div class="line-result my-3">
        <div class="text-muted font-weight-bold result mx-3 w-50">{{documentMethod.title}}</div>
        <textarea formControlName="equipment{{i}}" class = "form-control" rows = "1" placeholder="Методы"></textarea>
          <button class="btn btn-outline-danger ml-2" (click)="onClickDeleteEquipment(DOL)" title="Удалить" style="max-height: 50px">
            <img src="/assets/img/delete.svg" width="24" height="24">
          </button>
    </div>
      </div>
 закончен блок 7


<div>!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</div>
<app-guide7 [numberComponent]="1"  titleMethodComponent = "новый компонент 1" (methodResultat)="onResGuide7($event, 1)" ></app-guide7>
      <app-guide7 [numberComponent]="2"  titleMethodComponent = "новый компонент 2" (methodResultat)="onResGuide7($event, 2)" ></app-guide7>

      -->




  </div>
</div>

  <button class="btn btn-outline-primary mb-4" (click)="onSaveRes()">Сохранить урок</button>

</div>

</form>









