h2, h4, h5 {
  margin-bottom: 20px;
  text-align: center;
}
.card {
  border-radius: 10px;
}
.line-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h3 {
  position: fixed;
  margin: 5px;
}
.pupil-name {
  width: 350px;
}
.add-btn {
  width: 250px;
}
.dropdown-toggle {
  margin-bottom: 20px;
}
.dropdown-item:hover {
  cursor: pointer;
}
.column1 {
  width: 15%;
  vertical-align: middle;
  font-weight: 600;
}
.column2 {
  width: 30%;
  color: #6f6a6a;
  font-size: 1em;
  font-weight: 600;
}
