.container-fluid {
  /* min-height: calc(100vh - 160px); */
  min-width: 1903px;
  text-align: center;
  padding: 0 4%;
}
a {
  cursor: pointer;
}
.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  margin: 0;
  border: solid 1px #cdcdcd;
}
.view-left {
  height: auto;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #e5e5e5;
  border-right: solid 1px #cdcdcd;
  padding: 10px 0;
  /* hyphens: auto;
 -moz-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphenate-limit-chars: 6 3 2; */
}
.view-half, .view-half-right {
  height: auto;
  text-align: left;
  font-size: 18px;
  border-right: solid 1px #cdcdcd;
  padding: 10px 5px;
}
.view-half-right {
  border: none;
}
.view-half-span {
  display: flex;
  flex-direction: column;
}
span {
  text-align: left;
  font-size: 18px;
  padding: 10px 0 15px 10px;
}
.topic-1 {
  width: 9%;
  height: auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #e5e5e5;
  border-right: solid 1px #cdcdcd;
  padding: 10px 0;
}
.topic-2 {
  width: 8%;
  height: auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #e5e5e5;
  border-right: solid 1px #cdcdcd;
  padding: 10px 0;
}
.topic-3 {
  height: auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #e5e5e5;
  border-right: solid 1px #cdcdcd;
  padding: 10px 0;
  width: 20%;
}
.topic-4 {
  width: 12%;
  height: auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #e5e5e5;
  border-right: solid 1px #cdcdcd;
  padding: 10px 0;
}
.topic-5 {
  width: 12%;
  height: auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #e5e5e5;
  border-right: solid 1px #cdcdcd;
  padding: 10px 0;
}
.topic-6 {
  width: 100%;
  height: auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #e5e5e5;
  border-right: solid 1px #cdcdcd;
  padding: 10px 0;
}
.topic-7 {
  width: 9%;
  height: auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #e5e5e5;
  border-right: solid 1px #cdcdcd;
  padding: 10px 0;
}
.data-1 {
  hyphens: auto;
  font-size: 15px;
  width: 9%;
  border-right: solid 1px #cdcdcd;
}
.data-2 {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 2;
  font-size: 15px;
  width: 8%;
  border-right: solid 1px #cdcdcd;
}
.data-3 {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 2;
  display: flex;
  flex-direction: column;
  width: 20%;
  border-right: solid 1px #cdcdcd;
  text-align: left;
}
.d-3 {
  hyphens: auto;
  padding: 2px 0 0 3px;
  font-size: 15px;
}
.data-4 {
  hyphens: auto;
  font-size: 15px;
  width: 12%;
  border-right: solid 1px #cdcdcd;
  text-align: left;
}
.data-5 {
  hyphens: auto;
  font-size: 15px;
  width: 12%;
  border-right: solid 1px #cdcdcd;
  text-align: left;
}
.data-6 {
  hyphens: auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-right: solid 1px #cdcdcd;
  text-align: left;
}
.d-6 {
  hyphens: auto;
  font-size: 16px;
  border-bottom: solid 1px #cdcdcd;
}
.data-7 {
  hyphens: auto;
  font-size: 15px;
  width: 9%;
  text-align: left;
}
.d-7 {
  hyphens: auto;
  font-size: 15px;
}

.tasks-block {

  width:100%;
}
.cell-line {

  width:100%;
}
.tasks-head {
  width: 15%;

  border: solid 1px #cdcdcd;
}
.half-line {
  width: 100%;
}
.tasks1 {
  border: solid 1px #cdcdcd;
  width: 25%;

}
.tasks2 {
  border: solid 1px #cdcdcd;
  width: 75%;
  text-align: left;
  padding: 0 10px;
}
