<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="lesson mb-3">АООП Вариант 1</div>

      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Дата</div>
        <span class="w-75">{{curFormDate  | date:'dd.MM.yyyy'}}</span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Учитель</div>
        <span class="w-75">{{fio}}</span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Класс</div>
        <span class="w-75">{{documentClassNameNumber.title}}	{{documentClassNameLetter.title}}</span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">ФИО обучающего (индивидуальное обучение)</div>
        <span class="w-75">{{fioTeacherhome}}</span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Учебный предмет</div>
        <span class="w-75">{{documentLessons.title}}</span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Тема урока</div>
        <span class="w-75">{{lessonTopic}}</span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Цель урока</div>
        <span class="w-75">{{lessonObjectives}}</span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Тип урока</div>
        <span class="w-75">{{documentTypeLesson.title}}</span>
      </div>
      <div class="d-flex justify-content-between line" style="border-bottom:solid 1px #cdcdcd;">
        <div class="view-left w-25">Форма проведения урока<br>(вид урока)</div>
        <span class="w-75">{{documentType2Lesson.title}}</span>
      </div>
      <div class="d-flex justify-content-between line" style="border-bottom:solid 1px #cdcdcd;">
        <div class="view-left w-100">Предполагаемые результаты</div>
      </div>
      <div class="d-flex justify-content-between line" style="border-bottom:solid 1px #cdcdcd;">
        <div class="view-left w-50"> Предметные</div>
        <div class="view-left w-50">Личностные</div>
      </div>

      <div class="d-flex justify-content-between line">
        <div class="w-50 view-half">
          <div class="view-half-span">

            <div *ngFor="let DOL of documentObjectiveLessonList">
              <span>{{DOL.title}} : {{DOL.AdditionalMessage}}</span>
            </div>  
          </div>
        </div>
        <div class="w-50 view-half">
          <div class="view-half-span">

            <div *ngFor="let DOL of documentPersonalLessonList">
            <span>{{DOL.title}} : {{DOL.AdditionalMessage}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-100">Оборудование и материалы</div>
      </div>


      <div *ngFor="let DOL of documentEquipmentList">
        <div class="d-flex justify-content-between line">
          <div class="view-half w-50">{{DOL.title}}</div>
          <div class="view-half-right w-50">{{DOL.AdditionalMessage}}</div>
        </div>
      </div>




      <div class="p-0">
          <h3 class="my-4">Ход урока</h3>
      <div class="line">
        <div class=" topic-1">Часть урока</div>
        <div class="topic-2">Этап урока</div>
        <div class="topic-3">Методы и приёмы</div>
        <div class="topic-4">Деятельность учителя</div>
        <div class=" topic-5">Деятельность обучающихся</div>
        <div class=" topic-6">Базовые учебные действия</div>
        <div class=" topic-7">Рекомендации, комментарии проверяющего</div>
      </div>

        <div class="line">  <!-- list5 -->
              <div class="data-1">ВВОДНО-ПОДГОТОВИТЕЛЬНАЯ ЧАСТЬ</div>
              <div class="data-2">Организационный этап</div>
              <div class="data-3">
                  <div *ngFor="let dad of Guide7Resultat1">
                    {{dad.title}} : {{dad.text}}
                  </div>  
              </div>
              <div class="data-4">{{teacheractivity}}</div>
              <div class="data-5">{{studentactivities}}</div>
              <div class="data-6">Формирование умения вступать в контакт (учитель-ученик, ученик-ученик, ученик-класс)</div>
              <div class="data-7">{{reviewerrecommendations}}</div>
        </div>

        <div class="line">  
          <div class="data-1"></div>
          <div class="data-2">проверка домашнего задания</div>
          <div class="data-3">
            <div *ngFor="let dad of Guide7Resultat2">
              {{dad.title}} : {{dad.text}}
            </div>  
          </div>
          <div class="data-4">{{teacheractivity2}}</div>
          <div class="data-5">{{studentactivities2}}</div>
          <div class="data-6"></div>
          <div class="data-7">{{reviewerrecommendations2}}</div>
       </div>

       <div class="line">  
        <div class="data-1"></div>
        <div class="data-2">актуализация знаний и умений</div>
        <div class="data-3">
          <div *ngFor="let dad of Guide7Resultat3">
            {{dad.title}} : {{dad.text}}
          </div>  
        </div>
        <div class="data-4">{{teacheractivity3}}</div>
        <div class="data-5">{{studentactivities3}}</div>
        <div class="data-6"></div>
        <div class="data-7">{{reviewerrecommendations3}}</div>
       </div>

       <div class="line">  
        <div class="data-1"></div>
        <div class="data-2">сообщение темы и цели урока</div>
        <div class="data-3">
          <div *ngFor="let dad of Guide7Resultat4">
            {{dad.title}} : {{dad.text}}
          </div>  
        </div>
        <div class="data-4">{{teacheractivity4}}</div>
        <div class="data-5">{{studentactivities4}}</div>
        <div class="data-6"></div>
        <div class="data-7">{{reviewerrecommendations4}}</div>
       </div>

       <div class="line">  
        <div class="data-1"></div>
        <div class="data-2">мотивация и планирование учебной деятельности</div>
        <div class="data-3">
          <div *ngFor="let dad of Guide7Resultat5">
            {{dad.title}} : {{dad.text}}
          </div>  
        </div>
        <div class="data-4">{{teacheractivity5}}</div>
        <div class="data-5">{{studentactivities5}}</div>
        <div class="data-6"></div>
        <div class="data-7">{{reviewerrecommendations5}}</div>
       </div>

       <div class="line">  
        <div class="data-1">ОСНОВНАЯ ЧАСТЬ</div>
        <div class="data-2">изучение нового материала</div>
        <div class="data-3">
          <div *ngFor="let dad of Guide7Resultat6">
            {{dad.title}} : {{dad.text}}
          </div>  
        </div>
        <div class="data-4">{{teacheractivity6}}</div>
        <div class="data-5">{{studentactivities6}}</div>
        <div class="data-6"></div>
        <div class="data-7">{{reviewerrecommendations6}}</div>
       </div>

       <div class="line">  
        <div class="data-1"></div>
        <div class="data-2">закрепление изученного материала</div>
        <div class="data-3">
          <div *ngFor="let dad of Guide7Resultat7">
            {{dad.title}} : {{dad.text}}
          </div>  
        </div>
        <div class="data-4">{{teacheractivity7}}</div>
        <div class="data-5">{{studentactivities7}}</div>
        <div class="data-6"></div>
        <div class="data-7">{{reviewerrecommendations7}}</div>
       </div>

       <div class="line">  
        <div class="data-1">ЗАКЛЮЧИТЕЛЬНАЯ ЧАСТЬ</div>
        <div class="data-2">подведение итогов (выводы, оценивание, рефлексия)</div>
        <div class="data-3">
          <div *ngFor="let dad of Guide7Resultat8">
            {{dad.title}} : {{dad.text}}
          </div>  
        </div>
        <div class="data-4">{{teacheractivity8}}</div>
        <div class="data-5">{{studentactivities8}}</div>
        <div class="data-6"></div>
        <div class="data-7">{{reviewerrecommendations8}}</div>
       </div>

       <div class="line">  
        <div class="data-1"></div>
        <div class="data-2">сообщение домашнего задания (инструктаж)</div>
        <div class="data-3">
          <div *ngFor="let dad of Guide7Resultat9">
            {{dad.title}} : {{dad.text}}
          </div>  
        </div>
        <div class="data-4">{{teacheractivity9}}</div>
        <div class="data-5">{{studentactivities9}}</div>
        <div class="data-6"></div>
        <div class="data-7">{{reviewerrecommendations9}}</div>
       </div>

       <div class="line">  
        <div class="data-1"></div>
        <div class="data-2">организованное окончание урока</div>
        <div class="data-3">
          <div *ngFor="let dad of Guide7Resultat10">
            {{dad.title}} : {{dad.text}}
          </div>  
        </div>
        <div class="data-4">{{teacheractivity10}}</div>
        <div class="data-5">{{studentactivities10}}</div>
        <div class="data-6"></div>
        <div class="data-7">{{reviewerrecommendations10}}</div>
       </div>

     </div>

      <div class="btn-line my-5">
        <button type="button" class="btn btn-outline-primary mr-3">Назад</button>
        <button type="button" class="btn btn-outline-primary mr-3">Редактировать</button>
        <button type="button" class="btn btn-outline-primary mr-3">Распечатать</button>
        <button type="button" class="btn btn-outline-primary mr-3">Сохранить в файл</button>
        <button type="button" class="btn btn-outline-primary">Поделиться</button>
      </div>




    </div>
  </div>
</div>



