<div class="buttons-block">
    <button type="button" class="btn btn-primary mb-1 btn-menu" (click)= "onBack()">
      <div class="span-but">
        <span class="vert-letter">Н</span>
        <span class="vert-letter">а</span>
        <span class="vert-letter">з</span>
        <span class="vert-letter">а</span>
        <span class="vert-letter">д</span>
       </div>
    </button>
  
    <button type="button" class="btn btn-primary mb-1 btn-menu" (click)="onClickNewLessons()">
      <div class="span-but">
        <span class="vert-letter">Н</span>
        <span class="vert-letter">о</span>
        <span class="vert-letter">в</span>
        <span class="vert-letter">ы</span>
        <span class="vert-letter">й</span>
        <span class="vert-letter">&nbsp;</span>
        <span class="vert-letter">у</span>
        <span class="vert-letter">р</span>
        <span class="vert-letter">о</span>
        <span class="vert-letter">к</span>
      </div>
    </button>
    <button type="button" class="btn btn-primary mb-1 btn-menu" (click)="onClickMyLessons()">
      <div class="span-but">
        <span class="vert-letter">М</span>
        <span class="vert-letter">о</span>
        <span class="vert-letter">и</span>
        <span class="vert-letter">&nbsp;</span>
        <span class="vert-letter">у</span>
        <span class="vert-letter">р</span>
        <span class="vert-letter">о</span>
        <span class="vert-letter">к</span>
        <span class="vert-letter">и</span>
  
      </div>
    </button>
    <button type="button" class="btn btn-primary mb-1 btn-menu" (click)="onClickExit()">
      <div class="span-but">
        <span class="vert-letter">В</span>
        <span class="vert-letter">ы</span>
        <span class="vert-letter">й</span>
        <span class="vert-letter">т</span>
        <span class="vert-letter">и</span>
      </div>
    </button>
  </div>
  
