<form [formGroup]="methodForm">



<div class="dropdown">
  <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" id="btnGroupDropMethod{{numberComponent}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Методы
  </button>


  <div class="dropdown-menu" attr.aria-labelledby="btnGroupDropMethod{{numberComponent}}">

    <div *ngFor="let curGroupValue of methodAggegateList">
      <b>{{curGroupValue.title}}</b>
      <div class="dropdown-item" type="button" *ngFor="let curMethodValue of curGroupValue.new_document" (click)="onMethod(curMethodValue, curGroupValue)">
        {{curMethodValue.title}}
      </div>
    </div>

  </div>

</div>


<!-- ЗА ПРЕДЕЛАМИ СПИСКА РИСУЕМ СОЗДАННЫЕ КОМПОНЕНТЫ -->
<div *ngFor="let DOL of documentComponentMethodList; let i = index">
  <div *ngIf="DOL.delete === 0">
    <div class="line-result mb-3">
      <div class="text-muted font-weight-bold result pr-3 w-50">{{DOL.title}}</div>    <!-- Результат выбора из справочника  -->
      <textarea formControlName="{{numberComponent}}method{{i}}" class = "form-control" rows = "1" placeholder={{titleMethodComponent}}></textarea>

      <button class="btn btn-outline-danger ml-2" (click)="onClickDeleteMethod(DOL)" title="Удалить" style="max-height: 50px">
        <img src="/assets/img/delete.svg" width="24" height="24">
      </button>

    </div>
  </div>
</div>


</form>
