.container {
  /* min-height: calc(100vh - 160px); */
  text-align: center;
}
.card {
  max-width: 500px;
  height: auto;
  margin: 0 auto 0.5% auto;
}
a {
  cursor: pointer;
}
.vertical {
  color: blue;
  font-weight: 600;
}
