<app-rightpanel></app-rightpanel>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="lesson mb-3">Найти пользователя</div>

        <div class="card p-5">


          <form [formGroup]="FindTransferForm">
                <div class="line">
                  <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Школа/Организация</span>
                  <input type="text" class="form-control" placeholder="Школа/Организация" formControlName="fSchoolNumber">
                </div>
                <div class="line">
                  <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Логин</span>
                  <input type="text" class="form-control" placeholder="Логин" formControlName="fLogin">
                </div>
                <div class="line">
                  <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Фамилия</span>
                  <input type="text" class="form-control" placeholder="Фамилия" formControlName="fFio">
                </div>
          </form>


          <form [formGroup]="FioForm">
          <div *ngFor="let user of listuser">

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="userFind{{user._id}}" formControlName="userFind{{user._id}}">
              <label class="custom-control-label" for="userFind{{user._id}}">{{user.fio}}</label>
            </div>

          </div>
          </form>

          <div class="d-flex justify-content-between btn-block">
            <button type="button" class="btn btn-outline-primary mt-5 w-25" (click)="findUsers()">Найти</button>
            <button type="button" class="btn btn-outline-primary mt-5 w-25" (click)="moveLesson()">Передать</button>
          </div>

        </div>


      </div>
    </div>
  </div>



