<app-rightpanel></app-rightpanel>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="lesson mb-3">Найти пользователя</div>

        <div class="card p-2">

          <div class="line">
            <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Школа/Организация</span>
            <input type="text" class="form-control" placeholder="Школа/Организация" formControlName="schoolNumber">
          </div>
          <div class="line">
            <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Логин</span>
            <input type="text" class="form-control" placeholder="Логин" formControlName="fioteacherhome">
          </div>
          <div class="line">
            <span class="my-2 w-25 mr-5 text-muted font-weight-bold">Фамилия</span>
            <input type="text" class="form-control" placeholder="Фамилия" formControlName="fioteacherhome">
          </div>

          <div>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="userFind" formControlName="userFind">
              <label class="custom-control-label" for="userFind">Петров</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="userFind1" formControlName="userFind1">
              <label class="custom-control-label" for="userFind1">Сидоров</label>
            </div>


          </div>

          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-outline-primary mt-5 w-25" (click)="moveLesson()">Передать</button>
          </div>

        </div>


      </div>
    </div>
  </div>



