
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="lesson">ЛИСТ 1</div>

      <app-caption></app-caption>

<h2 class="mb-3">Учебный предмет (СПИСОК № 1)</h2>

      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle mb-4 w-25" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Выбрать предмет
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
          <button *ngFor="let curLesson of listLessons" class="dropdown-item" type="button">{{curLesson.title}}</button>
        </div>
      </div>


      <div class="d-flex justify-content-start">

        <!-- Кнопка добавления -->
        <button class="btn btn-outline-primary my-2 mr-4" title="Добавить урок">
          Добавить урок
        </button>

        <!-- Кнопка редактирования -->
        <button class="btn btn-outline-warning my-2 mr-4" title="Изменить урок">
          Изменить урок
        </button>

        <!-- Кнопка модального окна удаления -->
        <button type="button" class="btn btn-outline-danger my-2 mr-4"  title="Удалить урок">
          Удалить урок
        </button>

      </div>


      </div>
  </div>
</div>
