<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="lesson">ЛИСТ 2</div>

      <app-caption></app-caption>

      <div class="d-flex justify-content-around my-5">
        <button type="button" class="btn btn-outline-danger w-25" (click)="onClickVar1()">АООП (вариант 1)</button>
        <button type="button" class="btn btn-outline-success w-25" (click)="onClickVar2()">АООП (вариант 2)</button>
      </div>
      <div class="d-flex justify-content-around">
        <h5 class="ml-1">ЛИСТЫ 3, 4, 5</h5>
        <h5 class="ml-1">ЛИСТЫ 3а, 4а, 5а</h5>
      </div>



    </div>
  </div>
</div>



