<app-rightpanel></app-rightpanel>

<div class="container">
  <div class="row">
    <div class="col-12">

      <app-caption></app-caption>

      <div class="d-flex justify-content-around my-5">
        <button type="button" class="btn btn-outline-danger w-25" (click)="onClickVar1()">АООП (вариант 1)</button>
        <button type="button" class="btn btn-outline-success w-25" (click)="onClickVar2()">АООП (вариант 2)</button>
      </div>
      <div class="d-flex justify-content-around">

      </div>



    </div>
  </div>
</div>



