<app-rightpanel></app-rightpanel>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <div id="print-section">
        <div class="lesson mb-3">{{sNamePrint}}</div>

        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Дата</div>
          <span class="w-75">{{curFormDate  | date:'dd.MM.yyyy'}}</span>
        </div>
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Учитель</div>
          <span class="w-75">{{fio}}</span>
        </div>
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Класс</div>
          <span class="w-75">{{documentClassNameNumber.title}}	{{documentClassNameLetter.title}}</span>
        </div>
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">ФИО обучающего (индивидуальное обучение)</div>
          <span class="w-75">{{fioTeacherhome}}</span>
        </div>

        <!-- Сюда из справочника Lessons2-->
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Учебный предмет</div>
          <span class="w-75">{{documentLessons2.title}}</span>
        </div>

        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Тема урока</div>
          <span class="w-75">{{lessonTopic}}</span>
        </div>
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Цель урока</div>
          <span class="w-75">{{lessonObjectives}}</span>
        </div>
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Задачи урока</div>
          <span class="w-75">{{lessonTasks}}</span>
        </div>
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Тип урока</div>
          <span class="w-75">{{documentTypeLesson.title}}</span>
        </div>
        <div class="d-flex justify-content-between line" style="border-bottom:solid 1px #cdcdcd;">
          <div class="view-left w-25">Форма проведения урока<br>(вид урока)</div>
          <span class="w-75">{{documentType2Lesson.title}}</span>
        </div>


        <div class="d-flex justify-content-between line">
          <div class="view-left w-100">Предполагаемые результаты</div>
        </div>
        <div class="d-flex justify-content-between line" style="border-bottom:solid 1px #cdcdcd;">
          <div class="view-left w-25">ФИ ученика</div>
          <div class="view-left w-75">Предметные/Личностные</div>
        </div>



        <div *ngFor ="let EL of guide2linesResultat1">
            <div class="d-flex justify-content-between line">
              <div class="w-25 view-half">{{EL.text1}}</div>
              <div class="w-75 view-half-data">
                <span class="p-0">{{EL.text2}}</span>
              </div>
            </div>
        </div>

<!--
        <div class="d-flex justify-content-between line">
          <div class="w-25 view-half">Даня П.</div>
          <div class="w-75 view-half-data">
            <span class="p-0">Принимает физическую помощь со стороны педагога
            Демонстрирует слуховые и зрительные ориентировочно-поисковые реакции
           </span>

          </div>
        </div>
-->

        <!-- Конец Предполагаемые результаты  -->

        <div class="d-flex justify-content-between line">
          <div class="view-left w-100">Оборудование и материалы</div>
        </div>


        <div *ngFor="let DOL of documentEquipmentList">
          <div class="d-flex justify-content-between line">
            <div class="view-half w-25">{{DOL.title}}</div>
            <div class="view-half-right w-75">{{DOL.AdditionalMessage}}</div>
          </div>
        </div>

    </div>


        <div class="p-0">
          <h3 class="my-4">Ход урока</h3>
          <div class="line">
            <div class=" topic-1">Часть урока</div>
            <div class="topic-2">Этап урока</div>
            <div class="topic-3">Методы и приёмы</div>
            <div class="topic-4">Деятельность учителя</div>
            <div class=" topic-5">Деятельность обучающихся</div>
            <div class=" topic-6">Базовые учебные действия</div>
            <div class=" topic-7">Рекомендации, комментарии проверяющего</div>
          </div>

          <div class="line">
            <div class="data-1">Вводно-подготовительная часть</div>
            <div class="data-2">организационный этап</div>
            <div class="data-3 mb-3">
              <div *ngFor="let dad of Guide7Resultat1">
                <span class="d-3">{{dad.title}} : {{dad.text}}</span>
              </div>
            </div>
            <div class="data-4">{{teacheractivity}}</div>
            <div class="data-5">{{studentactivities}}</div>

            <div class="data-6">
                <div *ngFor="let g10 of this.Guide10Resultat1">
                  <span class="d-6">{{Guide10Filter(g10)}}</span><br>
                </div>
            </div>

            <div class="data-7">{{reviewerrecommendations}}</div>
          </div>

          <div class="line">
            <div class="data-1"></div>
            <div class="data-2">проверка домашнего задания</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat2">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity2}}</div>
            <div class="data-5">{{studentactivities2}}</div>
            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat2">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>

            <div class="data-7">{{reviewerrecommendations2}}</div>
          </div>

          <div class="line">
            <div class="data-1"></div>
            <div class="data-2">актуализация знаний и умений</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat3">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity3}}</div>
            <div class="data-5">{{studentactivities3}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat3">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>

            <div class="data-7">{{reviewerrecommendations3}}</div>
          </div>

          <div class="line">
            <div class="data-1"></div>
            <div class="data-2">сообщение темы и цели урока</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat4">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity4}}</div>
            <div class="data-5">{{studentactivities4}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat4">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>

            <div class="data-7">{{reviewerrecommendations4}}</div>
          </div>

          <div class="line">
            <div class="data-1"></div>
            <div class="data-2">мотивация и планирование учебной деятельности</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat5">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity5}}</div>
            <div class="data-5">{{studentactivities5}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat5">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>


            <div class="data-7">{{reviewerrecommendations5}}</div>
          </div>

          <div class="line">
            <div class="data-1">Основная часть</div>
            <div class="data-2">изучение нового материала</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat6">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity6}}</div>
            <div class="data-5">{{studentactivities6}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat6">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>


            <div class="data-7">{{reviewerrecommendations6}}</div>
          </div>

          <div class="line">
            <div class="data-1"></div>
            <div class="data-2">закрепление изученного материала</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat7">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity7}}</div>
            <div class="data-5">{{studentactivities7}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat7">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>


            <div class="data-7">{{reviewerrecommendations7}}</div>
          </div>

          <div class="line">
            <div class="data-1">Заключительная часть</div>
            <div class="data-2">подведение итогов (выводы, оценивание, рефлексия)</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat8">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity8}}</div>
            <div class="data-5">{{studentactivities8}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat8">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>


            <div class="data-7">{{reviewerrecommendations8}}</div>
          </div>

          <div class="line">
            <div class="data-1"></div>
            <div class="data-2">сообщение домашнего задания (инструктаж)</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat9">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity9}}</div>
            <div class="data-5">{{studentactivities9}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat9">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>


            <div class="data-7">{{reviewerrecommendations9}}</div>
          </div>

          <div class="line" style="border-bottom:solid 1px #cdcdcd;">
            <div class="data-1"></div>
            <div class="data-2">организованное окончание урока</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat10">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity10}}</div>
            <div class="data-5">{{studentactivities10}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat10">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>

            <div class="data-7">{{reviewerrecommendations10}}</div>
          </div>

        </div>

      </div> <!--  это закрывающий див для секции печати-->

      <div class="btn-line my-5">

<!--
        <button type="button" class="btn btn-outline-primary mr-3">Назад</button>
        <button type="button" class="btn btn-outline-primary mr-3">Редактировать</button>
-->

        <!-- <button type="button" class="btn btn-outline-primary mr-3">Распечатать</button> -->
        <button type="button" class="btn btn-outline-primary mr-3" (click)="print()">Распечатать</button>

<!--
        <button type="button" class="btn btn-outline-primary mr-3">Сохранить в файл</button>
        <button type="button" class="btn btn-outline-primary">Поделиться</button>
-->
      </div>


    </div>
  </div>


  <div *ngIf="taskList.length > 0">
      <div>ЗАДАЧИ</div>
      <div *ngFor="let value of taskList">
        {{value.title}} <=> {{value.text}}
      </div>

    <!-- Начало ЗАДАЧИ УРОКА -->
    <div class="card px-3 py-1">
      <h5 class="card-title text-center">Задачи урока</h5>


      <table class="table table-bordered">
        <tr>
          <td class="column1" rowspan="3">Образовательные</td>

          <td class="column2">
            Выявить
          <td class="column3">
          выполнение инструкции педагога по образцу (взрослый демонстрирует учащемуся выполнение
          задания однократно до его выполнения)
        </td>

        </tr>
        <td class="column2">
          Корригировать
        </td>
        <td class="column3">
          выполнение инструкции педагога по образцу (взрослый демонстрирует учащемуся выполнение
          задания однократно до его выполнения)
        </td>

        <tr>
          <td class="column2">
            Воспитывать
          </td>
          <td class="column3">выполнение инструкции педагога по образцу (взрослый демонстрирует учащемуся выполнение
            задания однократно до его выполнения)
          </td>

        </tr>


        <tr>
          <td class="column1" rowspan="3">Коррекционно-развивающие</td>

          <td class="column2">
            Учить применять на практике
          </td>
          <td class="column3">выполнение инструкции педагога по образцу (взрослый демонстрирует учащемуся выполнение
            задания однократно до его выполнения)

          </td>

        </tr>

        <tr>
          <td class="column2">
            Поддерживать
          </td>
          <td class="column3">
            выполнение инструкции педагога по образцу (взрослый демонстрирует учащемуся выполнение
            задания однократно до его выполнения)
          </td>
        </tr>

        <tr>
          <td class="column2">
            Воспитывать умение работать в паре
          </td>
          <td class="column3">
            выполнение инструкции педагога по образцу (взрослый демонстрирует учащемуся выполнение
            задания однократно до его выполнения)
          </td>

        </tr>

        <tr>
          <td class="column1" rowspan="3">Воспитательные</td>
          <td class="column2">
            Учить применять на практике
          </td>
          <td class="column3">
            выполнение инструкции педагога по образцу (взрослый демонстрирует учащемуся выполнение
            задания однократно до его выполнения)
          </td>

        </tr>
        <tr>

          <td class="column2">
            Совершенствовать
          </td>
          <td class="column3">
            выполнение инструкции педагога по образцу (взрослый демонстрирует учащемуся выполнение
            задания однократно до его выполнения)
          </td>

        </tr>
        <tr>

          <td class="column2">
            Воспитывать умение работать в команде
          </td>
          <td class="column3">
            выполнение инструкции педагога по образцу (взрослый демонстрирует учащемуся выполнение
            задания однократно до его выполнения)
          </td>

        </tr>
      </table>

    </div> <!-- Конец ЗАДАЧИ УРОКА -->



  </div>
