.container-fluid {
  /* min-height: calc(100vh - 160px); */
  text-align: center;
  padding: 0 4%;
}
a {
  cursor: pointer;
}
ul, li {
  margin: 0;
}
.line {
  height: auto;
  margin: 0;
  border: solid 1px #cdcdcd;
}
.view-left {
  height: auto;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #eeeeee;
  border-right: solid 1px #cdcdcd;
  padding: 10px 0;
}
.view-half, .view-half-right {
  height: auto;
  text-align: left;
  font-size: 18px;
  border-right: solid 1px #cdcdcd;
  padding: 10px 5px;
}
.view-half-data {
  display: flex;
  flex-direction: column;
}
.view-half-right {
  border: none;
}
.view-half-span {
  display: flex;
  flex-direction: column;
}
span {
  text-align: left;
  font-size: .95em;
  padding: 5px 0 5px 10px;
}

.span-but {
  writing-mode: tb-rl;
  font-size: 20px;
  font-weight: 700;
  margin: 20px auto;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*
.topic-1,.topic-2,.topic-3,.topic-4,.topic-5,.topic-6,.topic-7 {
  height: auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #e5e5e5;
  border-right: solid 1px #cdcdcd;
  padding: 10px 0;
}
.topic-1 {
  width: 9%;
}
.topic-2 {
  width: 8%;
}
.topic-3 {
  width: 20%;
}
.topic-4 {
  width: 12%;
}
.topic-5 {
  width: 12%;
}
.topic-6 {
  width: 30%;
}
.topic-7 {
  width: 9%;
}
.data-1 {
  font-size: 15px;
  width: 9%;
  border-right: solid 1px #cdcdcd;
  vertical-align: middle;
}
.data-2 {
  font-size: 15px;
  width: 8%;
  border-right: solid 1px #cdcdcd;
}
.data-3 {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-right: solid 1px #cdcdcd;
  text-align: left;
}
.d-3 {
  padding: 2px 0 0 3px;
  font-size: 15px;
}
.data-4 {
  font-size: 15px;
  width: 12%;
  border-right: solid 1px #cdcdcd;
  text-align: left;
}
.data-5 {
  font-size: 15px;
  width: 12%;
  border-right: solid 1px #cdcdcd;
  text-align: left;
}
.data-6 {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right: solid 1px #cdcdcd;
  text-align: left;
}
.d-6 {
  font-size: 15px;
}
.data-7 {
  font-size: 15px;
  width: 9%;
  text-align: left;
}
*/
.column1 {
  vertical-align: middle;
  font-weight: 600;
  width: 300px;
}
.column2 {
  color: #6f6a6a;
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  width: 500px;
}
.column3 {
  width: auto;
  font-size: 1em;
  text-align: left;
}
.noMargin {
  width: 100%;
  border: none;
}

.topic, .topic2, .table1Col1 {
  font-weight: 600;
  background-color: #eeeeee;
  border: solid 1px #cdcdcd;
  padding: 6px 0;
  margin: 0;
}
.topic2 {
  width: 50%;
}
.hod-text-topic {
  width: calc(100vw/3);
  border: solid 1px #cdcdcd;
  padding: 10px;
  margin: 0;
}
.hod-text {
  width: calc(100vw/3);
  text-align: left;
  border: solid 1px #cdcdcd;
  padding: 2px 6px;
  margin: 0;
}
.bud-topic {
  width: 200px;
  padding-top: 10px;
  border: solid 1px #cdcdcd;
  font-weight: 600;
}
.bud-text {
  width: 1600px;
  border: solid 1px #cdcdcd;
  text-align: left;
}
.table1Col1 {
width: 23%;
}
.table td {
  padding: .2rem;
}
.tasks1 {
  width: 400px;
  border: solid 1px #cdcdcd;
}
.tasks2 {
  width: 1200px;
  border: solid 1px #cdcdcd;
  text-align: left;
  padding: 0 10px;
}
