<app-rightpanel></app-rightpanel>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <div id="print-section">
        <div class="lesson my-2">{{sNamePrint}}</div>

        <table class="table table-bordered text-left">
          <tr>
            <td class="table1Col1">Дата</td>
            <td><span>{{curFormDate  | date:'dd.MM.yyyy'}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">Учитель</td>
            <td><span>{{fio}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">Класс</td>
            <td><span>{{documentClassNameNumber.title}}	{{documentClassNameLetter.title}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">ФИО обучающего (индивидуальное обучение)</td>
            <td><span>{{fioTeacherhome}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">Учебный предмет</td>
            <td><span>{{documentLessons2.title}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">Тема урока</td>
            <td><span>{{lessonTopic}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">Цель урока</td>
            <td><span>{{lessonObjectives}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">Тип урока</td>
            <td><span>{{documentTypeLesson.title}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">Форма проведения урока(вид урока)</td>
            <td><span>{{documentType2Lesson.title}}</span></td>
          </tr>
          <tr>
            <td colspan="2" class="view-left text-center" style="border-bottom: solid 1px #000000">Предполагаемые результаты</td>
          </tr>
          <tr class="view-left text-center">
            <td class="table1Col1">ФИ ученика</td>
            <td><span>Предметные/Личностные</span></td>
          </tr>
          <tr  *ngFor ="let EL of guide2linesResultat1">
            <td>{{EL.text1}}</td>
            <td><span>{{EL.text2}}</span></td>
          </tr>
          <tr>
            <td colspan="2" class="view-left text-center">Оборудование и материалы</td>
          </tr>
          <tr *ngFor="let DOL of documentEquipmentList">
            <td>{{DOL.title}}</td>
            <td><span>{{DOL.AdditionalMessage}}</span></td>
          </tr>
        </table>


        <h4 class="text-center mb-3">Задачи урока</h4>

          <!-- первые три строки если есть -->
          <ng-container *ngIf="taskList1.length > 0">
            <div class="d-flex">

              <div class="p-0 m-0"  style="width:200px;border: solid 1px #cdcdcd;">Образовательные</div>
              <div class="d-flex flex-column p-0 m-0">

                <ng-container *ngIf="taskList1.length > 0">
                    <div class="d-flex justify-content-start">
                      <div class="tasks1">{{taskList1[0].title}}</div>
                      <div class="tasks2">{{taskList1[0].text}}</div>
                    </div>
                </ng-container>

                <ng-container *ngIf="taskList1.length > 1">
                    <div class="d-flex justify-content-start">
                      <div class="tasks1">{{taskList1[1].title}}</div>
                      <div class="tasks2">{{taskList1[1].text}}</div>
                    </div>
                </ng-container>

                <ng-container *ngIf="taskList1.length > 2">
                    <div class="d-flex justify-content-start">
                      <div class="tasks1">{{taskList1[2].title}}</div>
                      <div class="tasks2">{{taskList1[2].text}}</div>
                    </div>
                </ng-container>

              </div>
            </div>
          </ng-container>


          <!-- вторые три строки если есть -->
          <ng-container *ngIf="taskList2.length > 0">
            <div class="d-flex">

              <div class="p-0 m-0"  style="width:200px;border: solid 1px #cdcdcd;">Коррекционно-развивающие</div>
              <div class="d-flex flex-column p-0 m-0">

                <ng-container *ngIf="taskList2.length > 0">
                    <div class="d-flex justify-content-start">
                      <div class="tasks1">{{taskList2[0].title}}</div>
                      <div class="tasks2">{{taskList2[0].text}}</div>
                    </div>
                </ng-container>

                <ng-container *ngIf="taskList2.length > 1">
                    <div class="d-flex justify-content-start">
                      <div class="tasks1">{{taskList2[1].title}}</div>
                      <div class="tasks2">{{taskList2[1].text}}</div>
                    </div>
                </ng-container>

                <ng-container *ngIf="taskList2.length > 2">
                    <div class="d-flex justify-content-start">
                      <div class="tasks1">{{taskList2[2].title}}</div>
                      <div class="tasks2">{{taskList2[2].text}}</div>
                    </div>
                </ng-container>

              </div>
            </div>
          </ng-container>


          <!-- третьи три строки если есть -->
          <ng-container *ngIf="taskList3.length > 0">
            <div class="d-flex">
              <div class="p-0 m-0"  style="width:200px;border: solid 1px #cdcdcd;">Воспитательные</div>
              <div class="d-flex flex-column p-0 m-0">

                <ng-container *ngIf="taskList3.length > 0">
                    <div class="d-flex justify-content-start">
                      <div class="tasks1">{{taskList3[0].title}}</div>
                      <div class="tasks2">{{taskList3[0].text}}</div>
                    </div>
                </ng-container>

                <ng-container *ngIf="taskList3.length > 1">
                    <div class="d-flex justify-content-start">
                      <div class="tasks1">{{taskList3[1].title}}</div>
                      <div class="tasks2">{{taskList3[1].text}}</div>
                    </div>
                </ng-container>

                <ng-container *ngIf="taskList3.length > 2">
                    <div class="d-flex justify-content-start">
                      <div class="tasks1">{{taskList3[2].title}}</div>
                      <div class="tasks2">{{taskList3[2].text}}</div>
                    </div>
                </ng-container>

              </div>
            </div>
          </ng-container>




<ng-container *ngIf="documentGuide10AggregateList.length > 0">
    <h4 class="my-4">Базовые учебные действия</h4>

    <div class="d-flex justify-content-start">
      <div class="topic" style="width: 200px">Ученик</div>
      <div class="topic" style="width:1600px">БУД</div>
    </div>

    <div class="d-flex" *ngFor="let document10 of documentGuide10AggregateList">

      <div class="bud-topic">{{document10.text}}</div>
      <div class="bud-text">
        <ul *ngFor="let element of document10.checkArray">
                       <li>{{Guide10Filter(element)}}</li>
        </ul>
      </div>
    </div>



  </ng-container>


    </div>

<!-- НАЧАЛО ЭТАПЫ МОЕ СДЕЛАНО ТОЛЬКО ЧТО -->

<h4 class="my-4">Ход урока</h4>
<div *ngIf="partBegin">
          <h5 class="topic">Вводно-подготовительная часть (Часть урока)</h5>

         <div *ngIf="Guide7Resultat1.length > 0">
             <h5 class="topic">Этап урока - организационный этап</h5> <!-- app-guide7_2 numberComponent=1-->
             <div class="d-flex justify-content-around">
                  <h5 class="hod-text-topic">Методы и приемы</h5>
                  <h5 class="hod-text-topic">Деятельность учителя</h5>
                  <h5 class="hod-text-topic">Деятельность ученика</h5>
             </div>
             <div class="d-flex" *ngFor="let res of Guide7Resultat1">
                  <div class="hod-text">{{res.text}}</div>
                  <div class="hod-text">{{res.teacheractivity}}</div>
                  <div class="hod-text">{{res.studentactivities}}</div>
             </div>
         </div>


          <div *ngIf = "boolVE1">
                    <div *ngIf="Guide7Resultat3.length > 0">
                      <h5 class="topic">Этап урока - актуализация знаний и умений</h5> <!-- app-guide7_2 numberComponent=3-->
                      <div class="d-flex justify-content-around">
                          <h5 class="hod-text-topic">Методы и приемы</h5>
                          <h5 class="hod-text-topic">Деятельность учителя</h5>
                          <h5 class="hod-text-topic">Деятельность ученика</h5>
                      </div>
                      <div class="d-flex" *ngFor="let res of Guide7Resultat3">
                          <div class="hod-text">{{res.text}}</div>
                          <div class="hod-text">{{res.teacheractivity}}</div>
                          <div class="hod-text">{{res.studentactivities}}</div>
                      </div>
                  </div>
          </div>

          <div *ngIf = "boolVE2">
                  <div *ngIf="Guide7Resultat4.length > 0">
                    <h5 class="topic">Этап урока - сообщение темы и цели урока</h5> <!-- app-guide7_2 numberComponent=4-->
                    <div class="d-flex justify-content-around">
                        <h5 class="hod-text-topic">Методы и приемы</h5>
                        <h5 class="hod-text-topic">Деятельность учителя</h5>
                        <h5 class="hod-text-topic">Деятельность ученика</h5>
                    </div>
                    <div class="d-flex" *ngFor="let res of Guide7Resultat4">
                        <div class="hod-text">{{res.text}}</div>
                        <div class="hod-text">{{res.teacheractivity}}</div>
                        <div class="hod-text">{{res.studentactivities}}</div>
                    </div>
                </div>
          </div>

          <div *ngIf = "boolVE3">
                    <div *ngIf="Guide7Resultat5.length > 0">
                      <h5 class="topic">Этап урока -  мотивация и планирование учебной деятельности</h5> <!-- app-guide7_2 numberComponent=5-->
                      <div class="d-flex justify-content-around">
                          <h5 class="hod-text-topic">Методы и приемы</h5>
                          <h5 class="hod-text-topic">Деятельность учителя</h5>
                          <h5 class="hod-text-topic">Деятельность ученика</h5>
                      </div>
                      <div class="d-flex" *ngFor="let res of Guide7Resultat5">
                          <div class="hod-text">{{res.text}}</div>
                          <div class="hod-text">{{res.teacheractivity}}</div>
                          <div class="hod-text">{{res.studentactivities}}</div>
                      </div>
                  </div>
          </div>
</div>

<div *ngIf="partBase">
     <h5 class="topic">Часть урока: ОСНОВНАЯ ЧАСТЬ</h5>

      <div *ngIf="this.thisThemeId === 1">
                    <div *ngIf="Guide7Resultat6.length > 0">
                      <h5 class="topic">Этап урока -  изучение нового материала</h5> <!-- app-guide7_2 numberComponent=6-->
                      <div class="d-flex justify-content-around">
                          <h5 class="hod-text-topic">Методы и приемы</h5>
                          <h5 class="hod-text-topic">Деятельность учителя</h5>
                          <h5 class="hod-text-topic">Деятельность ученика</h5>
                      </div>
                      <div class="d-flex" *ngFor="let res of Guide7Resultat6">
                          <div class="hod-text">{{res.text}}</div>
                          <div class="hod-text">{{res.teacheractivity}}</div>
                          <div class="hod-text">{{res.studentactivities}}</div>
                      </div>
                  </div>
      </div>

      <div *ngIf="this.thisThemeId === 1 || this.thisThemeId === 2 || this.thisThemeId === 3">
                <div *ngIf="Guide7Resultat7.length > 0">
                  <h5 class="topic">Этап урока -  изучение нового материала</h5> <!-- app-guide7_2 numberComponent=7-->
                  <div class="d-flex justify-content-around">
                      <h5 class="hod-text-topic">Методы и приемы</h5>
                      <h5 class="hod-text-topic">Деятельность учителя</h5>
                      <h5 class="hod-text-topic">Деятельность ученика</h5>
                  </div>
                  <div class="d-flex" *ngFor="let res of Guide7Resultat7">
                      <div class="hod-text">{{res.text}}</div>
                      <div class="hod-text">{{res.teacheractivity}}</div>
                      <div class="hod-text">{{res.studentactivities}}</div>
                  </div>
              </div>
      </div>

      <div *ngIf="this.thisThemeId === 2 || this.thisThemeId === 3">
                <div *ngIf="Guide7Resultat11.length > 0">
                      <h5 class="topic">Этап урока -  систематизация и обобщение</h5> <!-- app-guide7_2 numberComponent=11-->
                      <div class="d-flex justify-content-around">
                          <h5 class="hod-text-topic">Методы и приемы</h5>
                          <h5 class="hod-text-topic">Деятельность учителя</h5>
                          <h5 class="hod-text-topic">Деятельность ученика</h5>
                      </div>
                      <div class="d-flex" *ngFor="let res of Guide7Resultat11">
                          <div class="hod-text">{{res.text}}</div>
                          <div class="hod-text">{{res.teacheractivity}}</div>
                          <div class="hod-text">{{res.studentactivities}}</div>
                      </div>
                </div>
      </div>

      <div *ngIf="this.thisThemeId === 4">
              <div *ngIf="Guide7Resultat12.length > 0">
                    <h5 class="topic">Этап урока -  контроль</h5> <!-- app-guide7_2 numberComponent=12-->
                    <div class="d-flex justify-content-around">
                        <h5 class="hod-text-topic">Методы и приемы</h5>
                        <h5 class="hod-text-topic">Деятельность учителя</h5>
                        <h5 class="hod-text-topic">Деятельность ученика</h5>
                    </div>
                    <div class="d-flex" *ngFor="let res of Guide7Resultat12">
                        <div class="hod-text">{{res.text}}</div>
                        <div class="hod-text">{{res.teacheractivity}}</div>
                        <div class="hod-text">{{res.studentactivities}}</div>
                    </div>
              </div>
      </div>

</div>

<div *ngIf="partEnd">
      <h5 class="topic">Часть урока: ЗАКЛЮЧИТЕЛЬНАЯ ЧАСТЬ</h5>

      <div *ngIf="Guide7Resultat8.length > 0">
              <h5 class="topic">Этап урока - подведение итогов (выводы, оценивание, рефлексия)</h5> <!-- app-guide7_2 numberComponent=8-->
              <div class="d-flex justify-content-around">
                  <h5 class="hod-text-topic">Методы и приемы</h5>
                  <h5 class="hod-text-topic">Деятельность учителя</h5>
                  <h5 class="hod-text-topic">Деятельность ученика</h5>
              </div>
              <div class="d-flex" *ngFor="let res of Guide7Resultat8">
                  <div class="hod-text">{{res.text}}</div>
                  <div class="hod-text">{{res.teacheractivity}}</div>
                  <div class="hod-text">{{res.studentactivities}}</div>
              </div>
       </div>

          <div *ngIf="Guide7Resultat10.length > 0">
                <h5 class="topic">Этап урока -  организованное окончание урока</h5> <!-- app-guide7_2 numberComponent=10-->
                <div class="d-flex justify-content-around">
                    <h5 class="hod-text-topic">Методы и приемы</h5>
                    <h5 class="hod-text-topic">Деятельность учителя</h5>
                    <h5 class="hod-text-topic">Деятельность ученика</h5>
                </div>
                <div class="d-flex" *ngFor="let res of Guide7Resultat10">
                    <div class="hod-text">{{res.text}}</div>
                    <div class="hod-text">{{res.teacheractivity}}</div>
                    <div class="hod-text">{{res.studentactivities}}</div>
                </div>
          </div>
</div>

<!-- КОНЕЦ ЭТАПЫ МОЕ СДЕЛАНО ТОЛЬКО ЧТО -->


 <!--  это закрывающий див для секции печати-->



      <div class="btn-line my-5">

<!--
        <button type="button" class="btn btn-outline-primary mr-3">Назад</button>
        <button type="button" class="btn btn-outline-primary mr-3">Редактировать</button>
        -->

        <!-- <button type="button" class="btn btn-outline-primary mr-3">Распечатать</button> -->
        <button type="button" class="btn btn-outline-primary mr-3" (click)="print()">Распечатать</button>

<!--
        <button type="button" class="btn btn-outline-primary mr-3">Сохранить в файл</button>
        <button type="button" class="btn btn-outline-primary">Поделиться</button>
-->
      </div>




    </div>
  </div>
</div>


