<!-- мое творчество 422 по 447 строку  -->

<app-rightpanel></app-rightpanel>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <div id="print-section">
        <div class="lesson mb-3">{{sNamePrint}}</div>

        <table class="table table-bordered text-left">
          <tr>
            <td class="table1Col1">Дата</td>
            <td><span>{{curFormDate  | date:'dd.MM.yyyy'}}</span></td>
          </tr>
          <tr>
            <td width="20%">Учитель</td>
            <td><span>{{fio}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">Класс</td>
            <td><span>{{documentClassNameNumber.title}}	{{documentClassNameLetter.title}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">ФИО обучающего (индивидуальное обучение)</td>
            <td><span>{{fioTeacherhome}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">Учебный предмет</td>
            <td><span>{{documentLessons2.title}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">Тема урока</td>
            <td><span>{{lessonTopic}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">Цель урока</td>
            <td><span>{{lessonObjectives}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">Тип урока</td>
            <td><span>{{documentTypeLesson.title}}</span></td>
          </tr>
          <tr>
            <td class="table1Col1">Форма проведения урока(вид урока)</td>
            <td><span>{{documentType2Lesson.title}}</span></td>
          </tr>
          <tr>
            <td colspan="2" class="view-left text-center" style="border-bottom: solid 1px #000000">Предполагаемые результаты</td>
          </tr>
          <tr class="view-left text-center">
            <td class="table1Col1">ФИ ученика</td>
            <td><span>Предметные/Личностные</span></td>
          </tr>
          <tr  *ngFor ="let EL of guide2linesResultat1">
            <td>{{EL.text1}}</td>
            <td><span>{{EL.text2}}</span></td>
          </tr>
          <tr>
            <td colspan="2" class="view-left text-center">Оборудование и материалы</td>
          </tr>
          <tr *ngFor="let DOL of documentEquipmentList">
            <td>{{DOL.title}}</td>
            <td><span>{{DOL.AdditionalMessage}}</span></td>
          </tr>
        </table>



        <!--
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Дата</div>
          <span class="w-75">{{curFormDate  | date:'dd.MM.yyyy'}}</span>
        </div>
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Учитель</div>
          <span class="w-75">{{fio}}</span>
        </div>
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Класс</div>
          <span class="w-75">{{documentClassNameNumber.title}}	{{documentClassNameLetter.title}}</span>
        </div>
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">ФИО обучающего (индивидуальное обучение)</div>
          <span class="w-75">{{fioTeacherhome}}</span>
        </div>

        <!-- Сюда из справочника Lessons2 ->
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Учебный предмет</div>
          <span class="w-75">{{documentLessons2.title}}</span>
        </div>

        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Тема урока</div>
          <span class="w-75">{{lessonTopic}}</span>
        </div>
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Цель урока</div>
          <span class="w-75">{{lessonObjectives}}</span>
        </div>
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Задачи урока</div>
          <span class="w-75">{{lessonTasks}}</span>
        </div>
        <div class="d-flex justify-content-between line">
          <div class="view-left w-25">Тип урока</div>
          <span class="w-75">{{documentTypeLesson.title}}</span>
        </div>
        <div class="d-flex justify-content-between line" style="border-bottom:solid 1px #cdcdcd;">
          <div class="view-left w-25">Форма проведения урока<br>(вид урока)</div>
          <span class="w-75">{{documentType2Lesson.title}}</span>
        </div>


        <div class="d-flex justify-content-between line">
          <div class="view-left w-100">Предполагаемые результаты</div>
        </div>
        <div class="d-flex justify-content-between line" style="border-bottom:solid 1px #cdcdcd;">
          <div class="view-left w-25">ФИ ученика</div>
          <div class="view-left w-75">Предметные/Личностные</div>
        </div>



        <div *ngFor ="let EL of guide2linesResultat1">
            <div class="d-flex justify-content-between line">
              <div class="w-25 view-half">{{EL.text1}}</div>
              <div class="w-75 view-half-data">
                <span class="p-0">{{EL.text2}}</span>
              </div>
            </div>
        </div>



        <!-- Конец Предполагаемые результаты  ->

        <div class="d-flex justify-content-between line">
          <div class="view-left w-100">Оборудование и материалы</div>
        </div>


        <div *ngFor="let DOL of documentEquipmentList">
          <div class="d-flex justify-content-between line">
            <div class="view-half w-25">{{DOL.title}}</div>
            <div class="view-half-right w-75">{{DOL.AdditionalMessage}}</div>
          </div>
        </div>
-->

    </div>

      <!-- мой код строка 1-->
      <div class="card px-3 py-1">
        <h4 class="card-title text-center mb-3">Задачи урока</h4>

        <table class="table table-bordered mb-2">

          <!-- первые три строки если есть -->
          <ng-container *ngIf="taskList1.length > 0">
            <tr>
              <td class="column1">Образовательные</td>
              <td class="noMargin">
            <tr *ngFor="let value of taskList1" class="myTest">
              <td class="column2">{{value.title}}</td>
              <td class="column3">{{value.text}}</td>
            </tr>
          </ng-container>

          <!-- конец первых трех строк если есть-->

          <ng-container *ngIf="taskList2.length > 0">
            <tr>
              <td class="column1">Развивающие</td>
              <td class="noMargin">
            <tr *ngFor="let value of taskList2">
              <td class="column2">{{value.title}}</td>
              <td class="column3">{{value.text}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="taskList3.length > 0">
            <tr>
              <td class="column1">Воспитательные</td>
              <td class="noMargin">
            <tr *ngFor="let value of taskList3">
              <td class="column2">{{value.title}}</td>
              <td class="column3">{{value.text}}</td>
            </tr>
          </ng-container>

        </table>


       <!-- Ход урока
        <div class="p-0">
          <h3 class="my-4">Ход урока</h3>
          <div class="line">
            <div class=" topic-1">Часть</div>
            <div class="topic-2">Этап урока</div>
            <div class="topic-3">Методы и приёмы</div>
            <div class="topic-4">Деятельность учителя</div>
            <div class=" topic-5">Деятельность обучающихся</div>
            <div class=" topic-6">Базовые учебные действия</div>
            <div class=" topic-7">Рекомендации, комментарии проверяющего</div>
          </div>

          <div class="line">
            <div class="data-1"><span class="span-but">Вводно-подготовительная</span></div>
            <div class="data-2">организационный этап</div>
            <div class="data-3 mb-3">
              <div *ngFor="let dad of Guide7Resultat1">
                <span class="d-3">{{dad.title}} : {{dad.text}}</span>
              </div>
            </div>
            <div class="data-4">{{teacheractivity}}</div>
            <div class="data-5">{{studentactivities}}</div>

            <div class="data-6">
                <div *ngFor="let g10 of this.Guide10Resultat1">
                  <span class="d-6">{{Guide10Filter(g10)}}</span><br>
                </div>
            </div>

            <div class="data-7">{{reviewerrecommendations}}</div>
          </div>

          <div class="line">
            <div class="data-1"></div>
            <div class="data-2">проверка домашнего задания</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat2">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity2}}</div>
            <div class="data-5">{{studentactivities2}}</div>
            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat2">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>

            <div class="data-7">{{reviewerrecommendations2}}</div>
          </div>

          <div class="line">
            <div class="data-1"></div>
            <div class="data-2">актуализация знаний и умений</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat3">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity3}}</div>
            <div class="data-5">{{studentactivities3}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat3">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>

            <div class="data-7">{{reviewerrecommendations3}}</div>
          </div>

          <div class="line">
            <div class="data-1"></div>
            <div class="data-2">сообщение темы и цели урока</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat4">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity4}}</div>
            <div class="data-5">{{studentactivities4}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat4">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>

            <div class="data-7">{{reviewerrecommendations4}}</div>
          </div>

          <div class="line">
            <div class="data-1"></div>
            <div class="data-2">мотивация и планирование учебной деятельности</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat5">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity5}}</div>
            <div class="data-5">{{studentactivities5}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat5">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>


            <div class="data-7">{{reviewerrecommendations5}}</div>
          </div>

          <div class="line">
            <div class="data-1">Основная часть</div>
            <div class="data-2">изучение нового материала</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat6">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity6}}</div>
            <div class="data-5">{{studentactivities6}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat6">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>


            <div class="data-7">{{reviewerrecommendations6}}</div>
          </div>

          <div class="line">
            <div class="data-1"></div>
            <div class="data-2">закрепление изученного материала</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat7">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity7}}</div>
            <div class="data-5">{{studentactivities7}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat7">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>


            <div class="data-7">{{reviewerrecommendations7}}</div>
          </div>

          <div class="line">
            <div class="data-1">Заключительная часть</div>
            <div class="data-2">подведение итогов (выводы, оценивание, рефлексия)</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat8">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity8}}</div>
            <div class="data-5">{{studentactivities8}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat8">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>


            <div class="data-7">{{reviewerrecommendations8}}</div>
          </div>

          <div class="line">
            <div class="data-1"></div>
            <div class="data-2">сообщение домашнего задания (инструктаж)</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat9">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity9}}</div>
            <div class="data-5">{{studentactivities9}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat9">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>


            <div class="data-7">{{reviewerrecommendations9}}</div>
          </div>

          <div class="line" style="border-bottom:solid 1px #cdcdcd;">
            <div class="data-1"></div>
            <div class="data-2">организованное окончание урока</div>
            <div class="data-3">
              <div *ngFor="let dad of Guide7Resultat10">
                {{dad.title}} : {{dad.text}}
              </div>
            </div>
            <div class="data-4">{{teacheractivity10}}</div>
            <div class="data-5">{{studentactivities10}}</div>

            <div class="data-6">
              <div *ngFor="let g10 of this.Guide10Resultat10">
                <span class="d-6">{{Guide10Filter(g10)}}</span><br>
              </div>
            </div>

            <div class="data-7">{{reviewerrecommendations10}}</div>
          </div>

        </div>    Конец Ход урока  -->

      </div> <!--  это закрывающий див для секции печати-->

      <div class="btn-line my-5">

<!--
        <button type="button" class="btn btn-outline-primary mr-3">Назад</button>
        <button type="button" class="btn btn-outline-primary mr-3">Редактировать</button>
-->

        <!-- <button type="button" class="btn btn-outline-primary mr-3">Распечатать</button> -->
        <button type="button" class="btn btn-outline-primary mr-3" (click)="print()">Распечатать</button>

<!--
        <button type="button" class="btn btn-outline-primary mr-3">Сохранить в файл</button>
        <button type="button" class="btn btn-outline-primary">Поделиться</button>
-->
      </div>


    </div>
  </div>


<!--
      <div>ЗАДАЧИ</div>
    <div *ngIf="taskList.length > 0">
      <div *ngFor="let value of taskList">
        {{value.title}} <=> {{value.text}} <=> {{value.type}}
      </div>
</div>
-->


  </div>


