<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="lesson my-5">ЛИСТ 5</div>

      <app-caption></app-caption>


      <div class="d-flex justify-content-between line">

          <div *ngFor="let curGroupValue of methodAggegateList">

            <div class="vertical-column">
                <span>{{curGroupValue.title}}</span>
            </div>

            <div class="horizontal-column">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">1.	Формирование умения вступать в контакт (учитель-ученик,
                  ученик-ученик, ученик-класс)</label>
              </div>
            </div>



          </div>
      </div>

<h5 class="mb-4">СПИСОК № 8 «Базовые учебные действия»</h5>
<!--
      <div class="d-flex justify-content-between line">
        <div class="vertical-column">
         <span>КОММУНИКАТИВНЫЕ</span>
        </div>
        <div class="horizontal-column">

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">1.	Формирование умения вступать в контакт (учитель-ученик,
              ученик-ученик, ученик-класс)</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck2">2.	Формирование готовности к организации взаимодействия с
              окружающей действительностью</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck3">
            <label class="custom-control-label" for="customCheck3">3.	Формирование умения обращаться за помощью
              и принимать её</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck4">
            <label class="custom-control-label" for="customCheck4">4.	Формирование умения слушать и понимать инструкции
              к заданию</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck5">
            <label class="custom-control-label" for="customCheck5">5.	Формирование умения сотрудничать, договариваться</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck6">
            <label class="custom-control-label" for="customCheck6">6.	Формирование умения изменять своё поведение в ситуациях
              взаимодействия с окружающими</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck7">
            <label class="custom-control-label" for="customCheck7">7.	Формирование умения слушать собеседника</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck8">
            <label class="custom-control-label" for="customCheck8">8.	Формирование умения исполнять принятые ритуалы
              социального взаимодействия</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck9">
            <label class="custom-control-label" for="customCheck9">9.	Формирование умения оценить тон общения
              (спокойный, раздраженный и т.д.)</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck10">
            <label class="custom-control-label" for="customCheck10">10.	Формирование умения оценить услышанное высказывание</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck11">
            <label class="custom-control-label" for="customCheck11">11.	Формирование умения оценить свое устное/письменное
              высказывание</label>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between line">
        <div class="vertical-column">
          <span>ЛИЧНОСТНЫЕ</span>
        </div>
        <div class="horizontal-column">

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck12">
            <label class="custom-control-label" for="customCheck12">1.	Формирование самооценки</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck13">
            <label class="custom-control-label" for="customCheck13">2.	Осознание себя как ученика</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck14">
            <label class="custom-control-label" for="customCheck14">3.	Формирование заинтересованности посещения занятий</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck15">
            <label class="custom-control-label" for="customCheck15">4.	Формирование положительного отношения к окружающей
              действительности</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck16">
            <label class="custom-control-label" for="customCheck16">5.	Формирование способностей к осмыслению социального окружения</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck17">
            <label class="custom-control-label" for="customCheck17">6.	Формирование способностей к осмыслению социальных ролей</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck18">
            <label class="custom-control-label" for="customCheck18">7.	Принятие доступных для понимания обучающихся ценностей</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck19">
            <label class="custom-control-label" for="customCheck19">8.	Формирование положительного отношения к эстетическому восприятию
              окружающей действительности</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck20">
            <label class="custom-control-label" for="customCheck20">9.	Формирование, доступных для понимания учащихся,
              собственных моральных норм</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck21">
            <label class="custom-control-label" for="customCheck21">10.	Формирование понимания личной ответственности за свои поступки</label>
          </div>
          <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck22">
          <label class="custom-control-label" for="customCheck22">11.	Знакомство с правилами поведения в обществе</label>
        </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck23">
            <label class="custom-control-label" for="customCheck23">12.	Формирование готовности к безопасному и бережному поведению в
              окружающем мире доступных для понимания учащихся</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck24">
            <label class="custom-control-label" for="customCheck24">13.	Формирование самостоятельности в выполнении учебных заданий,
              поручений и т.д.</label>
          </div>
        </div>
      </div>


      <div class="d-flex justify-content-between line">
        <div class="vertical-column">
          <span>ПОЗНАВАТЕЛЬНЫЕ</span>
        </div>
        <div class="horizontal-column">

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck25">
            <label class="custom-control-label" for="customCheck25">1.	Формирование умения наблюдать за предметами и явлениями окружающей
              действительности под руководством взрослого</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck26">
            <label class="custom-control-label" for="customCheck26">2.	Формирование умения выделить главное</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck27">
            <label class="custom-control-label" for="customCheck27">3.	Формирование умения выделять некоторые существенные, общие,
              отличительные свойства хорошо знакомых предметов</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck28">
            <label class="custom-control-label" for="customCheck28">4.	Формирование умений устанавливать видородовые отношения предметов</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck29">
            <label class="custom-control-label" for="customCheck29">5.	Формирование умения выполнять простые сравнения,
              классификацию, обобщение</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck30">
            <label class="custom-control-label" for="customCheck30">6.	Формирование умения пользоваться знаками, символами,
              предметами-заместителями</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck31">
            <label class="custom-control-label" for="customCheck31">7.	Формирование умения читать, писать, выполнять
              арифметические действия</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck32">
            <label class="custom-control-label" for="customCheck32">8.	Формирование умения работать с несложной по содержанию и структуре
              информацией на бумажных и электронных носителях (изображения, текст, таблицы и т.д.)</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck33">
            <label class="custom-control-label" for="customCheck33">9.	Формирование умений устанавливать видородовые отношения предметов</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck34">
            <label class="custom-control-label" for="customCheck34">10.	Формирование умения выполнять простые сравнения</label>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between mb-4 line" style="border-bottom: solid 1px #cdcdcd">
        <div class="vertical-column">
          <span>РЕГУЛЯТИВНЫЕ</span>
        </div>
        <div class="horizontal-column">

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck35">
            <label class="custom-control-label" for="customCheck35">1.	Стимуляция поведения детей</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck36">
            <label class="custom-control-label" for="customCheck36">2.	Создание условий для осмысления учащимися своих действий</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck37">
            <label class="custom-control-label" for="customCheck37">3.	Формирование условий, способствующих осознанию средств деятельности</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck38">
            <label class="custom-control-label" for="customCheck38">4.	Формирование умения контролировать свою деятельность по результатам</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck39">
            <label class="custom-control-label" for="customCheck39">5.	Формирование умения осуществлять действия по образцу,
              заданному правилу, алгоритму</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck40">
            <label class="custom-control-label" for="customCheck40">6.	Формирование умения принимать, сохранять заданную цель</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck41">
            <label class="custom-control-label" for="customCheck41">7.	Формирование умения исправлять ошибку по указанию взрослого</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck42">
            <label class="custom-control-label" for="customCheck42">8.	Формирование умения видеть указанную ошибку, исправлять её</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck43">
            <label class="custom-control-label" for="customCheck43">9.	Формирование умения адекватно понимать оценку взрослого, сверстника</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck44">
            <label class="custom-control-label" for="customCheck44">10.	Формирование условий, способствующих осознанию целей деятельности</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck45">
            <label class="custom-control-label" for="customCheck45">11.	Формирование умений соотносить свои действия и по результаты
              с заданными образцами, правилами и т.д.</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck46">
            <label class="custom-control-label" for="customCheck46">12.	Формирование умения планировать свою деятельность</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck47">
            <label class="custom-control-label" for="customCheck47">13.	Формирование саморегуляции как способности к волевому усилию по
              преодолению поставленных проблем</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck48">
            <label class="custom-control-label" for="customCheck48">14.	Формирование умения контролировать свою деятельность по результатам</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck49">
            <label class="custom-control-label" for="customCheck49">15.	Формирование умения сохранять заданную цель</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck50">
            <label class="custom-control-label" for="customCheck50">16.	Формирование умения оценивать свои действия и действия одноклассников</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck51">
            <label class="custom-control-label" for="customCheck51">17.	Формирование умения оценивать свою деятельность с учетом
              предложенных критериев</label>
          </div>
        </div>
      </div>





      <h5 class="mb-4">СПИСОК № 10 «Базовые учебные действия»</h5>

      <div class="d-flex justify-content-between line">
        <div class="vertical-column" style="width: 300px;">
          <span>Подготовка ребенка к<br>эмоциональному, <br>коммуникативному<br> взаимодействию <br>
            индивидуально с педагогом<br> (специалистом)</span>
        </div>
        <div class="horizontal-column">

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck52">
            <label class="custom-control-label" for="customCheck52">принимает ситуацию нахождения рядом со взрослым в специально
              организованной среде без выполнения какого-либо задания;</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck53">
            <label class="custom-control-label" for="customCheck53">принимает ситуацию взаимодействия с педагогом, специалистом
              (в процессе выполнения какого-либо действия в течение определённого периода времени);</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck54">
            <label class="custom-control-label" for="customCheck54">принимает физическую помощь со стороны педагога, специалиста
              (в процессе выполнения какого-либо действия);</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck55">
            <label class="custom-control-label" for="customCheck55">принимает физическую подсказку со стороны педагога, специалиста
              (в процессе выполнения какого-либо действия).</label>
          </div>
        </div>
      </div>


      <div class="d-flex justify-content-between line">
        <div class="vertical-column" style="width: 300px;">
          <span>Подготовка ребенка к нахождению и обучению в среде<br> сверстников, к эмоциональному, коммуникативному<br> взаимодействию с группой обучающихся</span>
        </div>
        <div class="horizontal-column">

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck56">
            <label class="custom-control-label" for="customCheck56">принимает ситуацию нахождения в классе (группе) без выполнения какого-либо задания;</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck57">
            <label class="custom-control-label" for="customCheck57"></label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck58">
            <label class="custom-control-label" for="customCheck58"></label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck59">
            <label class="custom-control-label" for="customCheck59"></label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck60">
            <label class="custom-control-label" for="customCheck60"></label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck61">
            <label class="custom-control-label" for="customCheck61"></label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck62">
            <label class="custom-control-label" for="customCheck62"></label>
          </div>
        </div>
      </div>

-->
        </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br>
