
<div class="container">
  <div class="row">
    <div class="col-12">

      <form [formGroup]="list5Form">

      <div class="lesson my-5">ЛИСТ 5</div>

      <app-caption></app-caption>

      <div class="headers">
       <h2>ВАРИАНТ 1</h2>
       <h5>ХОД И СТРУКТУРА УРОКА</h5>
       <h5 class="theme">УРОК ИЗУЧЕНИЯ НОВОГО МАТЕРИАЛА</h5>
       <h4>Часть урока: ВВОДНО-ПОДГОТОВИТЕЛЬНАЯ ЧАСТЬ</h4>
      </div>

      <!-- Начало ОРГАНИЗАЦИОННОГО этапа -->

        <h4 class="stage">Этап урока - организационный этап</h4>
      <!--  7 справочник -->
        <app-guide7 [numberComponent]="1"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 1)" ></app-guide7>

        <div class="card pt-2 pb-4 px-4 mb-5">
          <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
          <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
        </div>

        <div class="card pt-2 pb-4 px-4 mb-4">
          <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
          <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
        </div>


        <h5 class="mb-4">СПИСОК № 8 «Базовые учебные действия»</h5>

        <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-toggle="collapse" data-target="#collapseGuid1" aria-expanded="false" aria-controls="collapseGuid1">
          Базовые учебные действия
        </button>

        <div class="collapse" id="collapseGuid1">
          <div class="my-1">

            <app-guide8 numberComponent="1" titleMethodComponent="чекбокс 1" (methodResultat)="onResGuide8($event, 1)"></app-guide8>

          </div>
        </div>

     <!-- Можно удалить
        <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-toggle="collapse" data-target="#collapseGuid0" aria-expanded="false" aria-controls="collapseGuid0">
          Базовые учебные действия
        </button>

        <div class="collapse" id="collapseGuid0">
          <div class="my-1">
            <div *ngFor="let curGroupValue of methodAggegateList">
              <div class="d-flex justify-content-between line">

                <div class="vertical-column">
                  <span>{{curGroupValue.title}}</span>
                </div>

                <div class="horizontal-column">

                  <div *ngFor="let curInnerDocument of curGroupValue.new_document; let i = index;">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck{{curInnerDocument.id}}" formControlName="aggregateCheck{{curInnerDocument.id}}">
                      <label class="custom-control-label" for="customCheck{{curInnerDocument.id}}">{{i+1}}.	{{curInnerDocument.title}}</label>
                    </div>
                  </div>

                </div>

              </div>
            </div>

            <button (click)="onClickSave()">test</button>
          </div>
        </div>   -->


      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец ОРГАНИЗАЦИОННОГО этапа -->

</form>

      <!-- Начало Этап урока - проверка домашнего задания -->

      <h4 class="stage">Этап урока - проверка домашнего задания</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="2"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 2)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <h5 class="mb-4">СПИСОК № 8 «Базовые учебные действия»</h5>

      <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-toggle="collapse" data-target="#collapseGuid2" aria-expanded="false" aria-controls="collapseGuid2">
        Базовые учебные действия
      </button>

      <div class="collapse" id="collapseGuid2">
        <div class="my-1">

          <app-guide8 numberComponent="2" titleMethodComponent="чекбокс 2" (methodResultat)="onResGuide8($event, 2)"></app-guide8>

        </div>
      </div>


  <div class="card pt-2 pb-4 px-4 mb-4">
    <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
    <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
  </div>

  <!-- Конец - проверка домашнего задания  -->

  <!-- Начало Этап урока - актуализация знаний и умений  -->

  <h4 class="stage">Этап урока - актуализация знаний и умений</h4>
  <!-- 7 справочник -->
  <app-guide7 [numberComponent]="3"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 3)" ></app-guide7>


  <div class="card pt-2 pb-4 px-4 mb-5">
    <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
    <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
  </div>

  <div class="card pt-2 pb-4 px-4 mb-4">
    <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
    <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
  </div>


  <h5 class="mb-4">СПИСОК № 8 «Базовые учебные действия»</h5>

      <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-toggle="collapse" data-target="#collapseGuid3" aria-expanded="false" aria-controls="collapseGuid3">
        Базовые учебные действия
      </button>

      <div class="collapse" id="collapseGuid3">
        <div class="my-1">

          <app-guide8 numberComponent="3" titleMethodComponent="чекбокс 3" (methodResultat)="onResGuide8($event, 3)"></app-guide8>

        </div>
      </div>



    <div class="card pt-2 pb-4 px-4 mb-4">
      <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
      <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
    </div>

    <!-- Конец - Этап урока - актуализация знаний и умений   -->


      <!-- Начало Этап урока - сообщение темы и цели урока  -->

      <h4 class="stage">Этап урока - сообщение темы и цели урока</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="4"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 4)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <h5 class="mb-4">СПИСОК № 8 «Базовые учебные действия»</h5>

      <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-toggle="collapse" data-target="#collapseGuid4" aria-expanded="false" aria-controls="collapseGuid4">
        Базовые учебные действия
      </button>

      <div class="collapse" id="collapseGuid4">
        <div class="my-1">

          <app-guide8 numberComponent="4" titleMethodComponent="чекбокс 4" (methodResultat)="onResGuide8($event, 4)"></app-guide8>

        </div>
      </div>



      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока - сообщение темы и цели урока   -->


      <!-- Начало Этап урока -  мотивация и планирование учебной деятельности  -->

      <h4 class="stage">Этап урока -  мотивация и планирование учебной деятельности</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="5"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 5)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <h5 class="mb-4">СПИСОК № 8 «Базовые учебные действия»</h5>

      <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-toggle="collapse" data-target="#collapseGuid5" aria-expanded="false" aria-controls="collapseGuid5">
        Базовые учебные действия
      </button>

      <div class="collapse" id="collapseGuid5">
        <div class="my-1">

          <app-guide8 numberComponent="5" titleMethodComponent="чекбокс 5" (methodResultat)="onResGuide8($event, 5)"></app-guide8>

        </div>
      </div>



      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока -  мотивация и планирование учебной деятельности   -->

      <div class="headers"><h4>Часть урока: ОСНОВНАЯ ЧАСТЬ</h4></div>

      <!-- Начало Этап урока -  изучение нового материала  -->

      <h4 class="stage">Этап урока -  изучение нового материала</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="6"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 6)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <h5 class="mb-4">СПИСОК № 8 «Базовые учебные действия»</h5>

      <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-toggle="collapse" data-target="#collapseGuid6" aria-expanded="false" aria-controls="collapseGuid6">
        Базовые учебные действия
      </button>

      <div class="collapse" id="collapseGuid6">
        <div class="my-1">

          <app-guide8 numberComponent="6" titleMethodComponent="чекбокс 6" (methodResultat)="onResGuide8($event, 6)"></app-guide8>

        </div>
      </div>



      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока -  изучение нового материала   -->


      <!-- Начало Этап урока -  закрепление изученного материала  -->

      <h4 class="stage">Этап урока -  закрепление изученного материала</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="7"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 7)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <h5 class="mb-4">СПИСОК № 8 «Базовые учебные действия»</h5>

      <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-toggle="collapse" data-target="#collapseGuid7" aria-expanded="false" aria-controls="collapseGuid7">
        Базовые учебные действия
      </button>

      <div class="collapse" id="collapseGuid7">
        <div class="my-1">

          <app-guide8 numberComponent="7" titleMethodComponent="чекбокс 7" (methodResultat)="onResGuide8($event, 7)"></app-guide8>

        </div>
      </div>



      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока -  закрепление изученного материала   -->

      <div class="headers"><h4>Часть урока: ЗАКЛЮЧИТЕЛЬНАЯ ЧАСТЬ</h4></div>


      <!-- Начало Этап урока - подведение итогов (выводы, оценивание, рефлексия)  -->

      <h4 class="stage">Этап урока - подведение итогов (выводы, оценивание, рефлексия)</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="8"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 8)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <h5 class="mb-4">СПИСОК № 8 «Базовые учебные действия»</h5>

      <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-toggle="collapse" data-target="#collapseGuid8" aria-expanded="false" aria-controls="collapseGuid8">
        Базовые учебные действия
      </button>

      <div class="collapse" id="collapseGuid8">
        <div class="my-1">

          <app-guide8 numberComponent="8" titleMethodComponent="чекбокс 8" (methodResultat)="onResGuide8($event, 8)"></app-guide8>

        </div>
      </div>



      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока - подведение итогов (выводы, оценивание, рефлексия)   -->

      <!-- Начало Этап урока -  сообщение домашнего задания (инструктаж)  -->

      <h4 class="stage">Этап урока -  сообщение домашнего задания (инструктаж)</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="9"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 9)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <h5 class="mb-4">СПИСОК № 8 «Базовые учебные действия»</h5>

      <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-toggle="collapse" data-target="#collapseGuid9" aria-expanded="false" aria-controls="collapseGuid9">
        Базовые учебные действия
      </button>

      <div class="collapse" id="collapseGuid9">
        <div class="my-1">

          <app-guide8 numberComponent="9" titleMethodComponent="чекбокс 9" (methodResultat)="onResGuide8($event, 9)"></app-guide8>

        </div>
      </div>



      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока -  сообщение домашнего задания (инструктаж)  -->


      <!-- Начало Этап урока -  организованное окончание урока  -->

      <h4 class="stage">Этап урока -  организованное окончание урока</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="10"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 10)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <h5 class="mb-4">СПИСОК № 8 «Базовые учебные действия»</h5>

      <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-toggle="collapse" data-target="#collapseGuid10" aria-expanded="false" aria-controls="collapseGuid10">
        Базовые учебные действия
      </button>

      <div class="collapse" id="collapseGuid10">
        <div class="my-1">

          <app-guide8 numberComponent="10" titleMethodComponent="чекбокс 10" (methodResultat)="onResGuide8($event, 10)"></app-guide8>

        </div>
      </div>



      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока -  организованное окончание урока  -->


      <button  (click)="saveList5()" class="btn btn-outline-primary my-3" title="Сохранить урок">Сохранить урок</button>


    </div>
  </div>
</div>

<br><br><br>


