
<div class="container">
  <div class="row">
    <div class="col-12">

      <form [formGroup]="list5Form">

      <div class="lesson my-5">ЛИСТ 5</div>

      <app-caption></app-caption>

      <div class="headers">
       <h2>ВАРИАНТ 1</h2>
       <h5>ХОД И СТРУКТУРА УРОКА</h5>
       <h5>УРОК ИЗУЧЕНИЯ НОВОГО МАТЕРИАЛА</h5>
       <h4>Часть урока: ВВОДНО-ПОДГОТОВИТЕЛЬНАЯ ЧАСТЬ</h4>
      </div>

      <!-- Начало ОРГАНИЗАЦИОННОГО этапа -->

      <h4 class="stage">Этап урока - организационный этап</h4>
      <!-- Сюда надо вставить 7 справочник -->

        <div class="card pt-2 pb-4 px-4 mb-5">
          <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
          <textarea formControlName="teacher-activity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
        </div>

        <div class="card pt-2 pb-4 px-4 mb-4">
          <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
          <textarea formControlName="student-activities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
        </div>




        <h5 class="mb-4">СПИСОК № 8 «Базовые учебные действия»</h5>

   <div *ngFor="let curGroupValue of methodAggegateList">
      <div class="d-flex justify-content-between line">

                <div class="vertical-column">
                    <span>{{curGroupValue.title}}</span>
                </div>

                <div class="horizontal-column">

                  <div *ngFor="let curInnerDocument of curGroupValue.new_document; let i = index;">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck{{curInnerDocument.id}}" formControlName="aggregateCheck{{curInnerDocument.id}}">
                      <label class="custom-control-label" for="customCheck{{curInnerDocument.id}}">{{i+1}}.	{{curInnerDocument.title}}</label>
                    </div>
                  </div>

                </div>

      </div>
   </div>

<button (click)="onClickSave()">test</button>


      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewer-recommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец ОРГАНИЗАЦИОННОГО этапа -->


</form>

        </div>
  </div>
</div>

<br><br><br><br><br>


