<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="lesson my-5">АРХИВ УРОКОВ</div>

      <app-caption></app-caption>

<h5>Мои уроки</h5>

      <div class="archive-list mt-4">

        <div class="headlines">
          <div class="date">Дата</div>
          <div class="lessons">Урок</div>
          <div class="lesson-topic">Тема урока</div>
        </div>

        <div class="headlines" *ngFor="let lesson of linsLessons">
          <div class="data">{{lesson.objSummaryLesson.formControlDate | date:'dd.MM.yyyy'}}</div>
          <div class="data">{{lesson.objSummaryLesson.lessonTopic}}</div>
          <div class="data">{{lesson.objSummaryLesson.lessonObjectives}}</div>
          <button (click)="onClickViewing(lesson)">Просмотр</button>
        </div>


      </div>


    </div>
  </div>
</div>
