<app-rightpanel></app-rightpanel>

<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="lesson mt-4 mb-3">{{sTitle}}</div>

      <app-caption></app-caption>

      <h5>Мои уроки</h5>

      <div class="archive-list mt-4">

        <div class="d-flex headline">
          <div class="date">Дата</div>

          <div class="lessons">Цель урока</div>
          <div class="lesson-topic">Тема урока</div>

        </div>

        <div class="line" *ngFor="let lesson of linsLessons">

          <div class="date">{{lesson.objSummaryLesson.formControlDate | date:'dd.MM.yyyy'}}
               <span *ngIf="!lesson.objSummaryLesson2" class="badge badge-pill badge-primary ml-2">Ч</span>
          </div>

          <div class="lessons">{{lesson.objSummaryLesson.lessonObjectives}}</div>
          <div class="lesson-topic">{{lesson.objSummaryLesson.lessonTopic}}</div>


          <div class="dropdown m-1">
            <button class="btn btn-outline-primary dropdown-toggle"
                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              Действия
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item"   (click)="onClickViewing(lesson)">Просмотр</a>
              <a class="dropdown-item" (click)="onClickEdit(lesson)">Редактирование</a>
              <a class="dropdown-item" (click)="onClickMove(lesson)">Поделиться</a>
            </div>
          </div>


          <!--
             <button  (click)="onClickViewing(lesson)" type="button" class="btn btn-outline-primary m-2">Просмотр</button>
             <button  (click)="onClickEdit(lesson)" type="button" class="btn btn-outline-primary m-2">...</button>
              <a class="dropdown-item">Сохранить как файл</a>
             <a class="dropdown-item">Печать</a>
          -->

        </div>
      </div>


    </div>
  </div>
</div>






