.archive-list {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.headline, .line {
  min-height: 35px;
  height: auto;
  text-align: center;
  font-weight: bold;
  border: solid 1px #cdcdcd;
  margin: 0;
}
.line {
  text-align: left;
  font-weight: normal;
}

.date{
  width:  120px;
  padding-left: 3px;
  border-right: solid 1px #cdcdcd;
  font-size: 15px;
}
.lessons  {
  width: 360px;
  padding-left: 3px;
  border-right: solid 1px #cdcdcd;
  font-size: 15px;
}
.lesson-topic {
  width: 500px;
  padding-left: 3px;
  font-size: 15px;
  border-right: solid 1px #cdcdcd;
}
button {
  max-height: 36px;
}
a {
  cursor: pointer;
}
.badge {
  width: 20px;
}
