.archive-list {
  display: flex;
  flex-direction: column;
}
.headlines {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-height: 35px;
  height: auto;
}
.headlines:hover {
  cursor: pointer;
  background-color: #d7f5ff;

}
.date, .lessons, .lesson-topic {
  display: flex;
  justify-content: center;
  width:  360px;
  font-weight: 600;
  border: solid 1px #cdcdcd;
}
.data {
  display: flex;
  justify-content: flex-start;
  width:  360px;
  border: solid 1px #cdcdcd;
  padding-left: 10px;
}
