<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="lesson mt-4 mb-3">{{sTitle}}</div>

      <app-caption></app-caption>

      <h5>Мои уроки</h5>

      <div class="archive-list mt-4">

        <div class="d-flex headline">
          <div class="date">Дата</div>
          <div class="lessons">Урок</div>
          <div class="lesson-topic">Тема урока</div>
        </div>

        <div class="line" *ngFor="let lesson of linsLessons">
          <div class="date">{{lesson.objSummaryLesson.formControlDate | date:'dd.MM.yyyy'}}</div>
          <div class="lessons">{{lesson.objSummaryLesson.lessonObjectives}}</div>
          <div class="lesson-topic">{{lesson.objSummaryLesson.lessonTopic}}</div>

          <button  (click)="onClickViewing(lesson)" type="button" class="btn btn-outline-primary m-2">Просмотр</button>
          <button  (click)="onClickEdit(lesson)" type="button" class="btn btn-outline-primary m-2">...</button>
        </div>


      </div>


    </div>
  </div>
</div>


