@media (min-width: 992px) {
  .container {
    text-align: center;
  }
  .card {
    width: 60%;
    min-width: 350px;
    text-align: left;
    padding: 30px;
    margin: 30px auto;
  }
  label {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 0.9;
    color: rgba(94, 94, 94, 0.99);
  }
  button {
    min-width: 160px;
  }

}      /* Конец media min 992 */


@media (max-width: 991px) {

  .card {
    width: 100%;
    padding: 20px;
  }
  .btn-block {
    display: flex;
    flex-direction: column;
  }
  button {
    min-width: 180px;
    width: calc(100vw/2.5) !important;
    margin: 15px auto !important;
  }

}          /* Конец media max 991 */










