<div class="container-fluid">
  <div class="row">
    <div class="col-sx-0 col-sm-1 col-md-2 col-lg-3"></div>

    <div class="col-sx-12 col-sm-10 col-md-8 col-lg-5">
      <div class="card my-4">
        <div class="card-body py-2">
          <h3 class="text-muted font-weight-bold">Восстановление пароля</h3>

          <p class="text-muted">Введите имя пользователя или Email, и на Ваш электронный адрес будет выслано письмо с временным паролем.</p>



          <form [formGroup]="forgotForm" novalidate (ngSubmit)="submit()">

            <div class="d-flex justify-content-start mb-3">
              <input type="text" class="form-control w-75" id="IDnameOrEmail" formControlName="nameOrEmail" placeholder="Имя пользователя или Email">
              <button class="btn btn-outline-primary ml-3" href="#" role="button" [disabled]="forgotForm.invalid || stopCondition">Отправить</button>
            </div>


            <div *ngIf="forgotForm.controls['nameOrEmail'].touched && forgotForm.controls['nameOrEmail'].invalid">
              <ng-container *ngIf="this.errorSend !== ''">
                this.errorSend = '';
              </ng-container>
              <p class="alert-danger py-3 pl-1 font-weight-bold">Не указан E-Mail или имя пользователя (минимум 2 символа)</p>
            </div>



            <ng-container *ngIf="showSucc">
              <p class="alert-success py-3 pl-1 font-weight-bold">Ваш новый пароль {{newpwd}} Письмо с паролем выслано на ваш электронный адрес.</p>
            </ng-container>



            <ng-container *ngIf="showErr">
              <div class="wrong-email">
                <p class="alert-danger py-3 pl-1 font-weight-bold">Не существующие E-Mail или имя пользователя</p>
              </div>
            </ng-container>

            <ng-container *ngIf="showErrMany">
              <div class="wrong-email">
                <p class="alert-danger py-3 pl-1 font-weight-bold">Несколько E-Mail или имен пользователей.</p>
              </div>
            </ng-container>

            <ng-container *ngIf="this.errorSend !== ''">
              <p class="alert-danger py-3 pl-1 font-weight-bold">
                {{this.errorSend}}
              </p>
            </ng-container>


          </form>

        </div>
      </div>

    </div>

    <div class="col-sx-0 col-sm-1 col-md-2 col-lg-5"></div>


  </div>
</div>


