/* You can add global styles to this file, and also import other style files */
.lesson {
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-top: 20px;
}
.line {
  display: flex;
  flex-direction: row;
  margin: 2% 0;
}
.result {
  font-size: 1.2em;
}
