<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="lesson mb-3">АООП Вариант 1</div>

      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Дата</div>
        <span class="w-75">02.09.2020</span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Учитель</div>
        <span class="w-75">Федорова Елена Юрьевна</span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Класс</div>
        <span class="w-75">6	б</span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">ФИО обучающего (индивидуальное обучение)</div>
        <span class="w-75"></span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Учебный предмет</div>
        <span class="w-75">Окружающий мир</span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Тема урока</div>
        <span class="w-75">Домашние животные</span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Цель урока</div>
        <span class="w-75">Познакомить с понятием «домашние животные», с разнообразием домашних животных
          и их значением в жизни человека</span>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-25">Тип урока</div>
        <span class="w-75">Изучение нового материала</span>
      </div>
      <div class="d-flex justify-content-between line" style="border-bottom:solid 1px #cdcdcd;">
        <div class="view-left w-25">Форма проведения урока<br>(вид урока)</div>
        <span class="w-75">Классический урок</span>
      </div>
      <div class="d-flex justify-content-between line" style="border-bottom:solid 1px #cdcdcd;">
        <div class="view-left w-100">Предполагаемые результаты</div>
      </div>
      <div class="d-flex justify-content-between line" style="border-bottom:solid 1px #cdcdcd;">
        <div class="view-left w-50"> Предметные</div>
        <div class="view-left w-50">Личностные</div>
      </div>

      <div class="d-flex justify-content-between line" style="border-bottom:solid 1px #cdcdcd;">
        <div class="w-50 view-half">
          <ul>
            <li>познакомить с понятием «домашние животные»</li>
            <li>учить дифференцировать «домашних» и «диких» животных</li>
            <li>познакомить с основными признаками домашних животных, их роли человека в жизни домашних животных.</li>
          </ul>
        </div>
        <div class="w-50 view-half">
          <ul>
            <li>уметь проводить самооценку на основе критерия успешной учебной деятельности;</li>
            <li>проявлять интерес к изучению темы;</li>
            <li>устанавливать связь между целью учебной деятельности и ее мотивом;</li>
            <li>определять общие для всех правила поведения;</li>
            <li>определять правила работы в парах;</li>
          </ul>
        </div>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-left w-100">Оборудование и материалы</div>
      </div>

      <div class="d-flex justify-content-between line">
        <div class="view-half w-50">Технические средства обучения (ТСО)</div>
        <div class="view-half-right w-50">Проектор, компьютер.</div>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-half w-50">Учебно-наглядные пособия</div>
        <div class="view-half-right w-50">Иллюстрация «скотный двор», «звери в лесу»</div>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-half w-50">Раздаточный материал</div>
        <div class="view-half-right w-50">Индивидуальные карточки с изображением домашних животных; листы
          для индивидуальной работы; учебники</div>
      </div>
      <div class="d-flex justify-content-between line">
        <div class="view-half w-50">Дидактический материал</div>
        <div class="view-half-right w-50">Плакат «скотный двор», «лес»</div>
      </div>














      <!--    <app-caption></app-caption>


      <div class="card my-4">
        <div class="card-body py-2">
          <h3 class="text-muted font-weight-bold">Вход</h3>


          <form [formGroup]="loginForm" novalidate (ngSubmit)="submit()">

            <div class="d-flex justify-content-start mb-3">
              <label class="w-25 font-weight-bold text-muted pt-2" for="inputLogin">Логин</label>
              <input type="text" class="form-control w-75" id="inputLogin" formControlName="nameOrEmail" placeholder="Логин"
                     [ngClass]="{
                          succesfullvalidator: this.loginForm.controls['nameOrEmail'].value.length >= 3,
                          troublevalidator: loginForm.controls['nameOrEmail'].value.length >= 1 && loginForm.controls['nameOrEmail'].value.length <= 2  }">
            </div>

            <div class="d-flex justify-content-start mb-3">
              <label class="w-25 font-weight-bold text-muted pt-2" for="inputPassword">Пароль</label>
              <input type="password" class="form-control w-75" id="inputPassword" formControlName="password"  placeholder="Пароль">
            </div>

            <p><button type="submit" class="btn btn-outline-primary my-3" role="button" id="btnpwd" [disabled]="loginForm.invalid || stopCondition" style="width: 100px;">Войти</button></p>

            <p><a class="forgot-password" routerLink="/forgot-password/." routerLinkActive="active">Забыли пароль или логин?</a></p>

            <p><a class="register" routerLink="/register/." routerLinkActive="active">Зарегистрироваться</a></p>


            <ng-container *ngIf="showErr">
              <div class="alert alert-danger">
                {{sResTrouble}}
              </div>
            </ng-container>


            <ng-container *ngIf="showSucc">
              <div class="alert alert-success">Успешный вход.</div>
              <a routerLink="/smain" routerLinkActive="active"></a>
            </ng-container>

          </form>

          <!--    закончили модель   ->



        </div>
      </div>




      <app-basement></app-basement>

      -->

  </div>
 </div>
</div>



