<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="lesson">ЛИСТ 1</div>

      <app-caption></app-caption>


<!-- СПРАВОЧНИК -->
      Учебный предмет (СПИСОК № 1)

      Русский язык
      Чтение
      Чтение (литературное чтение)
      Речевая практика
      Математика
      Информатика
      Мир природы и человека
      Природоведение
      Биология
      География
      Мир истории
      Основы социальной жизни
      История отечества
      Обществоведение
      Этика
      Музыка
      Изобразительное искусство
      Физическая культура
      Иное

      <div class="lesson">ЛИСТ 2</div>

        <div class="d-flex justify-content-around">
          <button type="button" class="btn btn-outline-danger w-25">АООП (вариант 1)</button>
          <button type="button" class="btn btn-outline-success w-25">АООП (вариант 2)</button>
        </div>


      <div class="lesson mt-5">ЛИСТ 4</div>

      <app-basement></app-basement>

  </div>
 </div>
</div>



