<div class="container">
  <div class="row">
    <div class="col-12">

<div class="lesson my-5">ЛИСТ 3</div>

      <app-caption></app-caption>

<div class="d-flex justify-content-around">
  <button type="button" class="btn btn-primary big" (click)="onClickNewLessons()">Создать новый урок</button>
  <button type="button" class="btn btn-primary big" (click)="onClickMyLessons()">Мои уроки</button>
  <button type="button" class="btn btn-primary big" (click)="onClickArchive()">Архив</button>
</div>


    </div>
  </div>
</div>


