@media screen and (min-width: 1023.98px) {
  .lesson {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-top: 30px;
  }

  .big {
    font-size: 1.3em;
    color: #ffffff;
    width: 200px;
    height: 230px;
    border-radius: 15%;
  }

}  /* Конец media min 1023.98*/

@media screen and (max-width: 1023.98px) {
  .plates {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px 5vw;
  }
  .big {
    font-size: 1.3em;
    color: #ffffff;
    height: 10vh;
    border-radius: 15px;
    margin-bottom: 2vh;

  }

}  /* Конец media min 1023.98*/
