<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="lesson my-5">ЛИСТ 5 вариант 2</div>

      <app-caption></app-caption>

      <div class="headers">
        <h2>ВАРИАНТ 2</h2>
        <h5>ХОД И СТРУКТУРА УРОКА</h5>
        <h5>УРОК ИЗУЧЕНИЯ НОВОГО МАТЕРИАЛА</h5>
        <h4>Часть урока: ВВОДНО-ПОДГОТОВИТЕЛЬНАЯ ЧАСТЬ</h4>
      </div>

      <h5 class="mb-3">СПИСОК № 10 «БАЗОВЫЕ УЧЕБНЫЕ ДЕЙСТВИЯ»</h5>



      <div class="card mb-4">

        <div class="view-head">
          1. Подготовка ребенка к эмоциональному, коммуникативному взаимодействию индивидуально с педагогом (специалистом):
        </div>

    <div class="p-3 view-stage">
      <div class="custom-control custom-checkbox mb-2">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">принимает ситуацию нахождения рядом со взрослым в специально организованной среде
          без выполнения какого-либо задания;</label>
      </div>

        <div class="custom-control custom-checkbox mb-2">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">принимает ситуацию взаимодействия с педагогом, специалистом
            (в процессе выполнения какого-либо действия в течение определённого периода времени);</label>
        </div>

      <div class="custom-control custom-checkbox mb-2">
        <input type="checkbox" class="custom-control-input" id="customCheck3">
        <label class="custom-control-label" for="customCheck3">принимает физическую помощь со стороны педагога, специалиста
          (в процессе выполнения какого-либо действия);</label>
      </div>

      <div class="custom-control custom-checkbox mb-2">
        <input type="checkbox" class="custom-control-input" id="customCheck4">
        <label class="custom-control-label" for="customCheck4">принимает физическую подсказку со стороны педагога, специалиста
          (в процессе выполнения какого-либо действия).</label>
      </div>


    </div>

    <div class="view-head">
      2. Подготовка ребенка к нахождению и обучению в среде сверстников, к эмоциональному, коммуникативному взаимодействию с группой обучающихся:
    </div>

      <div class="p-3 view-stage">

      <div class="custom-control custom-checkbox mb-2">
        <input type="checkbox" class="custom-control-input" id="customCheck5">
        <label class="custom-control-label" for="customCheck5">принимает ситуацию нахождения в классе (группе) без выполнения
          какого-либо задания;</label>
      </div>

        <div class="custom-control custom-checkbox mb-2">
          <input type="checkbox" class="custom-control-input" id="customCheck6">
          <label class="custom-control-label" for="customCheck6"></label>
        </div>

        <div class="custom-control custom-checkbox mb-2">
          <input type="checkbox" class="custom-control-input" id="customCheck7">
          <label class="custom-control-label" for="customCheck7"></label>
        </div>

        <div class="custom-control custom-checkbox mb-2">
          <input type="checkbox" class="custom-control-input" id="customCheck8">
          <label class="custom-control-label" for="customCheck8"></label>
        </div>

        <div class="custom-control custom-checkbox mb-2">
          <input type="checkbox" class="custom-control-input" id="customCheck9">
          <label class="custom-control-label" for="customCheck9"></label>
        </div>
      </div>
</div> <!-- Конец  Card  -->

    </div>
  </div>
</div>

