<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="lesson my-5">ЛИСТ 5 вариант 2</div>

      <app-caption></app-caption>

      <div class="headers">
        <h2>ВАРИАНТ 2</h2>
        <h5>ХОД И СТРУКТУРА УРОКА</h5>
        <h5 class="theme">УРОК ИЗУЧЕНИЯ НОВОГО МАТЕРИАЛА</h5>
        <h4>Часть урока: ВВОДНО-ПОДГОТОВИТЕЛЬНАЯ ЧАСТЬ</h4>
      </div>


      <h5 class="mb-4">СПИСОК № 10 «БАЗОВЫЕ УЧЕБНЫЕ ДЕЙСТВИЯ»</h5>

      <!-- Вот весь список 10

      СПИСОК № 10 «БАЗОВЫЕ УЧЕБНЫЕ ДЕЙСТВИЯ»

1. Подготовка ребенка к эмоциональному, коммуникативному взаимодействию индивидуально с педагогом (специалистом):
	принимает ситуацию нахождения рядом со взрослым в специально организованной среде без выполнения какого-либо задания;
	принимает ситуацию взаимодействия с педагогом, специалистом          (в процессе выполнения какого-либо действия в течение определённого периода времени);
	принимает физическую помощь со стороны педагога, специалиста       (в процессе выполнения какого-либо действия);
	принимает физическую подсказку со стороны педагога, специалиста    (в процессе выполнения какого-либо действия).

2. Подготовка ребенка к нахождению и обучению в среде сверстников, к эмоциональному, коммуникативному взаимодействию с группой обучающихся:
	принимает ситуацию нахождения в классе (группе) без выполнения какого-либо задания;
	принимает ситуацию нахождения в классе (группе) на уроке (занятии) в соответствии с правилами поведения [в течение определенного периода времени]: соблюдает тишину;
	принимает ситуацию нахождения в классе (группе) на уроке (занятии) в соответствии с правилами поведения [в течение определенного периода времени]: сохраняет правильную позу в соответствии с выполняемым действием;
	принимает ситуацию нахождения в классе (группе) на уроке (занятии) в соответствии с правилами поведения [в течение определенного периода времени]: ждет своей очереди;
	принимает ситуацию нахождения в классе (группе) на уроке (занятии) в соответствии с правилами поведения [в течение определенного периода времени]: наблюдает за действиями одноклассников, других детей;
	принимает ситуацию взаимодействия с одноклассниками [в процессе выполнения определенного задания/в процессе игры/в процессе свободной деятельности]: не уклоняется, когда к нему подходят дети;
	принимает ситуацию взаимодействия с одноклассниками [в процессе выполнения определенного задания/в процессе игры/в процессе свободной деятельности]: сам подходит к детям с целью взаимодействия;
	принимает ситуацию взаимодействия с одноклассниками [в процессе выполнения определенного задания/в процессе игры/в процессе свободной деятельности]: принимает помощь от одноклассников, других детей;
	принимает ситуацию взаимодействия с одноклассниками [в процессе выполнения определенного задания/в процессе игры/в процессе свободной деятельности]: оказывает помощь другим (по собственной инициативе, по просьбе взрослого).

3. Формирование учебного поведения:
	Концентрируется на сохранных анализаторных ощущениях: демонстрирует зрительные и слуховые ориентировочно-поисковые реакции
	Концентрируется на сохранных анализаторных ощущениях: прислушивается к голосу говорящего
	Концентрируется на сохранных анализаторных ощущениях: фиксирует взгляд на лице говорящего взрослого
	Концентрируется на сохранных анализаторных ощущениях: фиксирует взгляд на демонстрируемом предмете, находящемся в поле зрения
	Концентрируется на сохранных анализаторных ощущениях: прислушивается (концентрируется) к тактильным, вестибулярным ощущениям.
	Смотрит на говорящего взрослого
	Смотрит на выполняемое задание
	Выполняет инструкции педагога способом «рука в руке» («рука под рукой»)
	Выполняет инструкции педагога при физической помощи (взрослый физически помогает ребёнку выполнить часть задания, но дает ему возможность завершить задание самостоятельно)
	Выполняет инструкции педагога после физической подсказки (взрослый помогает ребёнку выполнить задание, легко похлопывая или направляя его)
	Выполняет инструкции педагога по подражанию (взрослый демонстрирует учащемуся необходимые действия, выполняя задание одновременно с ним)
	Выполняет инструкции педагога по образцу (взрослый демонстрирует учащемуся выполнение задания однократно до его выполнения)
	Выполняет инструкции педагога по словесной инструкции (взрослый дает словесные указания, напоминания и сигналы по мере необходимости)
	Выполняет инструкции педагога самостоятельно (помощь взрослого не требуется)
	Использует по назначению учебные материалы

4. Формирование умения выполнять задание:
	Выполняет задание в течение определенного периода времени
	Выполняет задание от начала до конца
	Выполняет задание с заданными качественными параметрами (аккуратно, точно, соблюдая алгоритм действия и т.п.).

5. Формирование умения самостоятельно переходить от одного задания (операции, действия) к другому:
	Переходит от одного действия, операции, упражнения, задания     к другому с физической помощью взрослого;
	Переходит от одного действия, операции, упражнения, задания     к другому с физической подсказкой взрослого;
	Переходит от одного действия, операции, упражнения, задания     к другому по словесной инструкции;
	Самостоятельно переходит от одного действия, операции, упражнения, задания к другому по визуальной инструкции (расписанию);
	Самостоятельно переходит от одного действия, операции, упражнения, задания к другому в соответствии с логикой выполнения задания.

     -->

      <button class="btn btn-outline-primary dropdown-toggle mb-4" type="button" data-toggle="collapse" data-target="#collapseGuid11" aria-expanded="false" aria-controls="collapseGuid11">
        Базовые учебные действия
      </button>

      <div class="collapse" id="collapseGuid11">
        <div class="my-11">


          <div class="card mb-4">

            <div class="view-head">
              1. Подготовка ребенка к эмоциональному, коммуникативному взаимодействию индивидуально с педагогом (специалистом):
            </div>

            <div class="p-3 view-stage">
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">принимает ситуацию нахождения рядом со взрослым в специально организованной среде
                  без выполнения какого-либо задания;</label>
              </div>

              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">принимает ситуацию взаимодействия с педагогом, специалистом
                  (в процессе выполнения какого-либо действия в течение определённого периода времени);</label>
              </div>

              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3">принимает физическую помощь со стороны педагога, специалиста
                  (в процессе выполнения какого-либо действия);</label>
              </div>

              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck4">
                <label class="custom-control-label" for="customCheck4">принимает физическую подсказку со стороны педагога, специалиста
                  (в процессе выполнения какого-либо действия).</label>
              </div>


            </div>

            <div class="view-head">
              2. Подготовка ребенка к нахождению и обучению в среде сверстников, к эмоциональному, коммуникативному взаимодействию с группой обучающихся:
            </div>

            <div class="p-3 view-stage">

              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck5">
                <label class="custom-control-label" for="customCheck5">принимает ситуацию нахождения в классе (группе) без выполнения
                  какого-либо задания;</label>
              </div>

              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck6">
                <label class="custom-control-label" for="customCheck6"></label>
              </div>

              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck7">
                <label class="custom-control-label" for="customCheck7"></label>
              </div>

              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck8">
                <label class="custom-control-label" for="customCheck8"></label>
              </div>

              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="customCheck9">
                <label class="custom-control-label" for="customCheck9"></label>
              </div>
            </div>
          </div> <!-- Конец  Card  -->

        </div>
      </div>


      <!-- Начало ОРГАНИЗАЦИОННОГО этапа -->

      <h4 class="stage">Этап урока - организационный этап</h4>
      <!--  7 справочник -->
      <app-guide7 [numberComponent]="1"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 1)" ></app-guide7>

      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец ОРГАНИЗАЦИОННОГО этапа -->


      <!-- Начало Этап урока - проверка домашнего задания -->

      <h4 class="stage">Этап урока - проверка домашнего задания</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="2"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 2)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - проверка домашнего задания  -->

      <!-- Начало Этап урока - актуализация знаний и умений  -->

      <h4 class="stage">Этап урока - актуализация знаний и умений</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="3"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 3)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока - актуализация знаний и умений   -->


      <!-- Начало Этап урока - сообщение темы и цели урока  -->

      <h4 class="stage">Этап урока - сообщение темы и цели урока</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="4"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 4)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока - сообщение темы и цели урока   -->


      <!-- Начало Этап урока -  мотивация и планирование учебной деятельности  -->

      <h4 class="stage">Этап урока -  мотивация и планирование учебной деятельности</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="5"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 5)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока -  мотивация и планирование учебной деятельности   -->

      <div class="headers"><h4>Часть урока: ОСНОВНАЯ ЧАСТЬ</h4></div>

      <!-- Начало Этап урока -  изучение нового материала  -->

      <h4 class="stage">Этап урока -  изучение нового материала</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="6"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 6)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока -  изучение нового материала   -->


      <!-- Начало Этап урока -  закрепление изученного материала  -->

      <h4 class="stage">Этап урока -  закрепление изученного материала</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="7"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 7)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока -  закрепление изученного материала   -->

      <div class="headers"><h4>Часть урока: ЗАКЛЮЧИТЕЛЬНАЯ ЧАСТЬ</h4></div>


      <!-- Начало Этап урока - подведение итогов (выводы, оценивание, рефлексия)  -->

      <h4 class="stage">Этап урока - подведение итогов (выводы, оценивание, рефлексия)</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="8"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 8)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока - подведение итогов (выводы, оценивание, рефлексия)   -->

      <!-- Начало Этап урока -  сообщение домашнего задания (инструктаж)  -->

      <h4 class="stage">Этап урока -  сообщение домашнего задания (инструктаж)</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="9"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 9)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>


      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока -  сообщение домашнего задания (инструктаж)  -->


      <!-- Начало Этап урока -  организованное окончание урока  -->

      <h4 class="stage">Этап урока -  организованное окончание урока</h4>
      <!-- 7 справочник -->
      <app-guide7 [numberComponent]="10"  titleMethodComponent = "Описание" (methodResultat)="onResGuide7($event, 10)" ></app-guide7>


      <div class="card pt-2 pb-4 px-4 mb-5">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность учителя</div>
        <textarea formControlName="teacheractivity" class = "form-control" rows = "2" placeholder="Деятельность учителя"></textarea>
      </div>

      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Деятельность обучающихся</div>
        <textarea formControlName="studentactivities" class = "form-control" rows = "2" placeholder="Деятельность обучающихся"></textarea>
      </div>



      <div class="card pt-2 pb-4 px-4 mb-4">
        <div class="my-2 mr-5 text-muted font-weight-bold">Рекомендации, комментарии проверяющего </div>
        <textarea formControlName="reviewerrecommendations" class = "form-control" rows = "2" placeholder="Рекомендации, комментарии проверяющего "></textarea>
      </div>

      <!-- Конец - Этап урока -  организованное окончание урока  -->


      <button  (click)="saveList5()" class="btn btn-outline-primary my-3" title="Сохранить урок">Сохранить урок</button>











    </div>
  </div>
</div>

