.headers {
  text-align: center;
}
h2, h4, h5 {
  margin-bottom: 20px;
}
.stage {
  color: red;
  text-align: left;
}
.theme {
  text-align: left;
  font-weight: 600;
  color: #3e3ec8;
}
.card {
}
.line {
  height: auto;
  margin: 0;
  border: solid 1px #cdcdcd;
  border-bottom: none;
}
.view-head {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 5px;
  border-bottom: solid 1px #cdcdcd;
  background-color: #f6f6f6;
}
.vertical-column {
  text-align: center;
  width: 100px;
  margin: auto;

}

.horizontal-column {
  width: 90%;
  padding: 20px 10px;
  border-left: solid 1px #cdcdcd;
}
span {
  writing-mode: tb-rl;
  font-size: 20px;
  font-weight: 700;
  margin: 20px auto;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
